[2014-09-11 19:17] jpsala opened #1 "Localization"
Hi, I dont't know if this is the right place to ask, if it is not, please tell me.
The question is: how can I change the locale?

Edit:
I changed this line:
//file = /node_modules/ember-pikaday/index.js
    app.import('bower_components/momentjs/moment.js');
for theese:
    app.import('bower_components/momentjs/min/moment.min.js');
    app.import('bower_components/momentjs/locale/es.js');
And now i

[2014-09-13 12:55] #1 closed, assigned to nobody

[2014-10-13 16:21] abuiles opened #3 "Should momentjs be just moment?"
On the bower file you are referencing moment as

[code]

But the version registered on bower is just called moment.

[2014-10-20 11:08] #3 closed, assigned to nobody

[2014-10-20 14:48] jdhines opened #4 "Generate fails on something related to Font Awesome"
The npm install appears to run fine, but when I do `ember g ember-pikaday` I get the following error after it cranks for a while. Not sure why it's doing anything with font-awesome, and besides, I already have that being imported into my project, so I don't need another.

[code]

[2014-10-20 20:39] #4 closed, assigned to nobody

[2014-10-21 20:39] jdhines opened #5 "momentjs needs changing to moment in a couple more files"
After grabbing the latest from the repo, I was still getting this error when running `ember server`:
`Path or pattern "bower_components/momentjs/moment.js" did not match any files [string exception]`

I did a search through the ember-pikaday folder for 'momentjs' and found the following other occurrences:

**ember-pikaday/index.js:**
`6:     app.import('bower_components/momentjs/moment.js');`

**e

[2014-10-22 05:25] #5 closed, assigned to nobody

[2015-02-04 11:08] lolmaus opened #9 "Configuring Pikaday?"
Is it possible to pass configuration options to Pikaday?

It's important that the widget updates when properties passed as options change dynamically.

[2015-02-04 13:56] stravid commented on #9
This is currently not possible apart from the `format` option. I will happily accept a pull request implementing this feature.

[2015-02-04 14:08] lolmaus commented on #9
Sorry, i'm currently using vanilla bootstrap-datepicker. Its built-in date ranges feature saves me a lot of typing.

bootstrap-datepicker does not allow live-updating some configuration options, so i have to do `this.rerender()` on my component wrapper. :(

I wonder whether Pikaday is better in this concern.

[2015-02-04 14:13] stravid commented on #9
Good question, I never had a use case of live-updating configuration options so I can't tell you if Pikaday is better suited in this regard.

[2015-02-11 21:23] jdhines opened #10 "Could not find module ember-pikaday/components/pikaday-input"
When I build or run my Ember app with `--environment=production` then I get the above error. I just re-npm'd the package and ran the generator to be sure, and after having done that, I look in node_modules/ember-pikaday/app/components/pikaday-input.js, which does an import, supposedly from ember-pikaday/components/pikaday-input, but that file doesn't exist. There is a pikaday-input.js in ember-pik

[2015-02-12 12:46] jdhines commented on #10
When I do `ember g ember-pikaday` a folder called just "pikaday" is created in bower_components. There is no components folder within that. Is that part of the problem? Is the blueprint creating a folder that's not what's expected?

[2015-02-12 12:53] stravid commented on #10
That's weird. I will take a look and report my findings!

[2015-02-12 13:27] jdhines commented on #10
Thinking it might be the plugin, I tried switching to [ember-cli-bootstrap-datepicker](https://www.npmjs.com/package/ember-cli-bootstrap-datepicker) but that had the same problem. I can run simply `ember s` and everything works fine, just as with ember-pikaday. But when I do `ember s --environment=production` then it complains about the missing module. Strange that it's just the datepicker it can'

[2015-02-12 14:28] jdhines commented on #10
Okay, looks like it had nothing to do with ember-pikaday or my other datepicker. It was due to an upstream error with Ember.Handlebars.compile being used in bootstrap-sass or something else, and when building for production, the Handlebars.runtime.js file doesn't include that function. The fix for this is described on the [ember-cli site](http://www.ember-cli.com/#customizing-a-built-in-asset).

I

[2015-02-12 14:28] #10 closed

[2015-02-18 11:35] #9 closed

[2015-02-27 15:13] DerToti opened #14 "Passing theme value"
Currently the newest (master) version of [Pikaday](https://github.com/dbushell/Pikaday) is supporting custom classes for the datepicker but its not provided for this component.
You also dont have the possibility to pass any option. Can you add themes as an option like this?

[code]

I saw on #9 something simular was requested there.

[2015-03-16 18:14] marcoow opened #16 "interactor.selectDate doesn't work in PhantomJS"
`interactor.selectDate` doesn't work in PhantomJS. While after calling the method `interactor.selectedMonth()` and `interactor.selectedYear()`, `interactor.selectedDay()` is undefined. I believe that has to do with the `mouseDown` event that's triggered for selecting the day - I guess PhantomJS doesn't support that somehow or at least not the way you're firing it. I'm running PhantomJS 2.0.0.

[2015-03-17 06:08] stravid commented on #16
Thanks for the bug report! I will upgrade to the new PhantomJS myself and debug it.

[2015-03-17 06:52] stravid commented on #16
Ok, I managed to install PhantomJS 2.0.0 and run the ember-pikaday tests itself. Strangely enough they all pass. I assume you are using ember-pikaday in a project and the projects acceptance test fails, correct? Can you tell me what version of Ember CLI you are using so I can setup a dummy project on my own and figure out what is happening? Thanks!

[code]

[2015-03-17 06:54] stravid commented on #16
And while we are at it, what version of Pikaday do you use?

[2015-03-17 09:21] marcoow commented on #16
we're using

[code]

[2015-03-17 09:57] marcoow commented on #16
It looks like pikaday's [`mouseDown` event handler](https://github.com/dbushell/Pikaday/blob/f2c8d56fb8bd65cdc702d212b2df09a6742d728f/pikaday.js#L1017) is never called in our acceptance test. Maybe that has sth. to do with Ember registering its own `mouseDown` handler which isn't set up in ember-pikaday's tests as those don't start up an Ember app.

[2015-03-17 10:12] stravid commented on #16
Thanks for the info, if you are running the not yet merged pull request the culprit is likely the newer version of Pikaday. I will start updating the Pikaday version used by ember-pikaday and look where it starts breaking so it can be fixed.

[2015-03-17 10:16] marcoow commented on #16
No, the same problem exists with `"ember-pikaday": "0.6.0"` as well.

[2015-03-17 10:31] stravid commented on #16
Ok, thanks again for the info.

[2015-03-17 11:11] stravid commented on #16
Does #18 solve your problem?

Because I created a dummy application and can reproduce the error, it seems that the Pikaday DOM element with the days is not yet in the DOM when `triggerNativeEvent($('td[data-day="' + day + '"] button')[0], 'mousedown');` is called. Therefore the jQuery selector returns `undefined` and it fails.

I think that's the problem, I'm currently failing to find a method to

[2015-03-17 11:14] marcoow commented on #16
No, like I wrote in #18 the problem is that Pikaday master binds to `'ontouchend'` if that's available (which is the case in PhantomJS) while ember-pikaday's `selectDate` method always triggers a `'mousedown'` event so that Pikaday's event handler is never invoked.

The point is that ember-pikaday doesn't currently work with Pikaday master.

[2015-03-17 11:32] stravid commented on #16
I'm not sure how to interpret the "No, ..." :-)
Does #18 solve your problem? If triggering the correct event is solving your situation then I can merge it in and your tests work correctly.

Nonetheless there seems to be another problem with the test helper.

[2015-03-17 11:33] marcoow commented on #16
Yes, #18 solves my problem but no, I don't think your above explanation for the error is correct.

[2015-03-17 11:40] stravid commented on #16
Very good, should I cut a new version after merging or is using `ember-pikaday#master` okay for the time being? I intend to release a version anyways but want to fix some other things first...

It seems there are two problems, the one you discovered, and one I discovered in my test application while trying to fix your problem.

[2015-03-17 11:43] marcoow commented on #16
I'm using [this branch](https://github.com/simplabs/ember-pikaday/tree/termify) now anyway. I don't know whether you'd want to publish a release of `ember-pikaday` that depends on `pikaday#master`… - probably better to wait for the next version of pikaday before merging #18 .

[2015-03-17 11:45] kristianmandrup commented on #16
I did a lot of work in my branch to make it integrate better with Ember:

https://github.com/kristianmandrup/Pikaday

[2015-03-17 11:52] stravid commented on #16
Alright, then I'm not in a hurry. Thanks for digging in and finding the solution @marcoow!

@kristianmandrup Until your branch gets merged into Pikaday this doesn't help us much here.

[2015-03-17 15:54] kristianmandrup commented on #16
Yeah, it’s a pity my additions were never merged. A lot of good stuff there, especially for dynamic data binding, customization and more control

[2015-04-15 17:46] onlymejosh opened #20 "Allow empty"
Is there a way to allow null values? If I click in the input and clear the text it doesn't set the field to null value.

[2015-04-16 05:10] stravid commented on #20
Thanks for reporting this @onlymejosh. This sounds like a sensible default and I would have thought it already works like this. Since it obviously doesn't I will take a look and fix it :-)

[2015-04-16 08:52] onlymejosh commented on #20
Awesome - Great to hear David :D I was surprised as well to be honest, I assumed it would work too.

On Thu, Apr 16, 2015 at 6:10 AM, David Strauß <notifications@github.com>
wrote:

[2015-04-16 17:31] stravid commented on #20
Unfortunately Pikaday does not fire an event when this happens. The best option is to act on the `onClose` event which is triggered when the input loses focus and the datepicker is hidden. An alternative would be to use the `blur` or `change` events of the input.

What do you think is a good approach?

[2015-04-16 17:45] onlymejosh commented on #20
I checked out  [ember-datepicker](https://github.com/SquireLabs/ember-datepicker/blob/master/addon/components/date-picker.js) and they are using the onClose event.

I dont think thats a bad way to handle it to be honest.

[2015-04-16 17:57] stravid commented on #20
Okay, thanks. Once I have a failing test I will push the new release!

[2015-04-16 21:17] stravid commented on #20
I just pushed a commit to master that should fix your issue. For the the time being please use master as dependency. Once I manage to write a green test I will release a new version. But currently I'm failing to do so after running into timing brick walls for hours.

Please reopen the issue in case it is not fixed!

[2015-04-16 21:17] #20 closed

[2015-04-17 07:02] jrjohnson opened #21 "interactor.selectDate doesn't work in IE10"
Test which pass in every other browser using selectDate fail in IE10.

[2015-04-17 07:21] stravid commented on #21
Thanks for reporting! I will have to setup a development environment to figure out why the test helper is not working.

[2015-04-17 07:23] jrjohnson commented on #21
Awesome, thanks.  Let me know if you need more details.

[2015-04-17 09:14] onlymejosh commented on #20
Awesome David :) I’ll check this out today :D

On Thu, Apr 16, 2015 at 10:17 PM, David Strauß <notifications@github.com>
wrote:

[2015-04-17 19:08] mitchlloyd opened #23 "Error output when installing on ember-cli 0.2.3 (but works fine after)"
I'm getting this output when installing on ember-cli 0.2.3. The addon works fine afterwards, but it would be nice to get rid of the error message. I'm just dropping this here for now, but I should have time to come back later and investigate.

[code]

[2015-04-18 01:06] dylanfoster opened #24 "Cannot clear field after selecting a date"
After clicking the pikaday input box and selecting a date, you cannot clear the field with backspace.

[2015-04-18 13:46] mitchlloyd commented on #23
Turns out this is an ember-cli bug: https://github.com/ember-cli/ember-cli/pull/3846

[2015-04-18 13:46] #23 closed

[2015-05-19 09:34] DenizOkcu opened #25 "[Ember 1.13.0] setDate not working ('this' is in state 'preRender')"
Hi David,
[setDate()](https://github.com/edgycircle/ember-pikaday/blob/master/addon/components/pikaday-input.js#L55) is not working with the new ember beta (1.13.0-beta.1 incl. Glimmer).
[code]
`this` is in state 'preRender' at that point in time what makes `pikaday` undefined.

`Uncaught TypeError: Cannot read property 'setDate' of undefined`

We could fix it like this:
[code]
Tests are green. Ot

[2015-05-19 11:39] DenizOkcu commented on #25
ok tests are only OK in the browser, 13 tests are failing on the command line :-/

[2015-05-20 15:34] stravid commented on #25
That's a bummer, thanks for looking into this. I think there should be a new Ember 1.13.0 beta tomorrow, maybe this improves things.

[2015-05-27 05:54] jrjohnson commented on #21
Any thoughts on this?

[2015-05-30 11:11] stravid commented on #21
Sorry to let you wait so long, I haven't set up a Windows development machine yet. Do you know of a way to run the tests on windows without having a windows machine?

[2015-05-30 14:46] jrjohnson commented on #21
I use sauce labs and browser stack both have free plans for open source developers.  For one off tests browserstack is my usual choice.  I will try and dig into this as well.

[2015-06-01 17:03] stefanpenner opened #28 "Add `tmp` dir to the .npmignore."
https://github.com/ember-cli/ember-cli/issues/4199

[2015-06-01 17:29] stefanpenner commented on #28
like: https://github.com/ember-cli/ember-cli/commit/6ac18227ea571988fa9d9950e9a1051fdd990c7c

[2015-06-02 10:18] kimroen commented on #21
You can download a windows virtual machine with any version of ie preinstalled from here: http://dev.modern.ie/tools/vms/ VirtualBox is free and open source, so if you don't have vmware or Parallels you can use that.

[2015-06-14 11:35] #28 closed

[2015-06-14 11:39] stravid commented on #24
@dylanfoster can you explain your issue in more detail? When I select a date, mark the text within the input and press backspace everything is gone for me?

[2015-06-14 12:56] stravid commented on #25
@DenizOkcu is this still an issue?

[2015-06-14 14:46] stravid commented on #21
@jrjohnson Thanks for reporting this in the first place, there was indeed an issue how the test helpers triggered events. @kimroen Thanks for this tip, helped me to debug it :-)

I just published `0.7.1` which should fix this issue.

[2015-06-14 14:46] #21 closed

[2015-06-15 02:32] dylanfoster commented on #24
@stravid I'm on 0.6.1. It looks like the onClose option was added in 0.7.0. Closing.

[2015-06-15 02:32] #24 closed

[2015-06-16 16:50] polymathnyc commented on #25
I'm still seeing this issue with Ember 1.13.0. The fix from @DenizOkcu seems to solve the issue however.

[2015-06-17 05:45] stravid commented on #25
@polymathnyc Thanks for reporting, I ran the tests against Ember 1.13.0 and they where green so I assumed this issue went away. I will take a look and try to reproduce and fix it!

[2015-06-17 08:15] stravid commented on #25
This should be fixed in version `0.7.2`.

[2015-06-17 08:15] #25 closed

[2015-06-17 14:55] thejchap opened #32 "Placeholder attribute?"
Is there interest in adding the ability to pass a placeholder ?

`{{pikaday-input placeholder='Something'}}`

Can open a PR for this if yes

[2015-06-17 17:10] polymathnyc commented on #32
I would definitely be interested in this. I was just looking into this as well.

[2015-06-17 18:35] polymathnyc commented on #32
Ideally you would be able to pass any attribute to the input (name, data attributes, etc), as they may be needed for front-end validation.

[2015-06-18 05:54] stravid commented on #32
There is certainly interest, feel free to work on that. There is already a pull request that is missing tests https://github.com/edgycircle/ember-pikaday/pull/19 maybe you can work from there or coordinate with the original author. If you need help with writing the appropriate tests I can help and walk you through.

I agree with @polymathnyc that it would be good to support all Pikaday attributes

[2015-06-21 17:11] leojpod commented on #32
Hi,

Added the tests for #19. It allows for `placholder` and `disabled` binding.
I also placed an observer to close a Pikaday if it is open while being disabled.

[2015-06-24 13:26] yankopetroff opened #33 "How to insert pikaday after the trigger?"
By default is appended to body. Is it possible to insert pikaday after the trigger? (With the same parent container)

[2015-06-28 02:28] Robdel12 commented on #16
Any ideas if this will be fixed? Phantom tests fail for me.

[2015-06-28 03:01] jrjohnson commented on #16
My tests started failing today when I did a bower install with Pikaday 1.3.3 (released two days ago).  Locking the version to 1.3.2 in bower caused everything to pass again.

[2015-06-28 18:19] stravid commented on #16
So Pikaday finally tagged the new version, I was checking myself every other week but thanks for notifying me. A new version with this issue fixed will be released on Monday!

[2015-06-29 07:15] stravid commented on #14
Resolved with release `0.8.0`.

[2015-06-29 07:15] #14 closed

[2015-06-29 07:16] stravid commented on #16
Resolved with release `0.8.0`.

[2015-06-29 07:16] #16 closed

[2015-06-29 07:16] stravid commented on #32
Resolved with release `0.8.0`.

[2015-06-29 07:16] #32 closed

[2015-06-29 07:17] stravid commented on #33
I don't think this is currently possible, feel free to implement this feature and open up a pull request @yankopetroff!

[2015-06-29 07:17] #33 closed

[2015-07-07 03:22] jeffreybiles opened #36 "yearRange doesn't work"
I put in 2004,2008 as yearRange, and it allowed me to select dates both before 2004 and after 2008.

Video here: https://bilesjeffrey.wistia.com/medias/gh5c6s4ujb

I also tried with single-integer ranges, with similar not-working-ness.

[2015-07-13 06:35] stravid commented on #36
Thank you for the report and nice video. I checked with Pikaday what the expected behaviour is and found out following:

The year range is only used for the year select element. If you want to enforce a minimum and maximum date you should use `minDate` and `maxDate` in Pikaday. This is currently not yet supported but I would love to see it implemented with tests :)

[2015-07-13 06:35] #36 closed

[2015-07-17 18:55] beerlington opened #40 "Overriding firstDay"
Is there a way to make Sunday the first day in the calendar? If not, would you have any interest in supporting this? I think it would just be:

[code]
https://github.com/edgycircle/ember-pikaday/blob/master/addon/components/pikaday-input.js#L18

[2015-07-17 21:22] beerlington commented on #40
Opened a PR for this https://github.com/edgycircle/ember-pikaday/pull/41

[2015-07-20 20:43] evosweet commented on #40
Hi i am using the add on in my bootstrap application, but it is not allowing me  to set a year range.

{{pikaday-input yearRange="2004,2005" value=Birthday class="form-control input-sm" format='YYYY-MM-DD' placeholder="YYYY-MM-DD" required='required' type="date"}}

[2015-07-21 05:58] stravid commented on #40
@evosweet I tried your example code and it work's exactly as intended, what is not working for you?

Please open a new issue in the future instead of hijacking unrelated ones, thanks.

[2015-07-21 09:50] evosweet commented on #40
My apologies,  I am new to this sort of thing. Will do Regards.

On Tue, Jul 21, 2015, 01:58 David Strauß <notifications@github.com> wrote:

[2015-07-21 10:02] evosweet opened #42 "Unable to set date range."
I would like to be able to set a dynamic date range that limits the ability of the user to selecting dates between 1915 and 18 years from the current date.
However when I set the year  range let's say to 1915,1997 I can still select dates pass 1997 and I get no validation errors if I enter it manually.

[2015-07-21 12:02] stravid commented on #42
This is the intended behaviour of Pikaday. The `yearRange` option does not enforce a minimum or maximum date. I explained it here: https://github.com/edgycircle/ember-pikaday/issues/36

Feel free to implement this and open up a new pull request.

[2015-07-21 12:02] #42 closed

[2015-07-21 12:02] #40 closed

[2015-07-31 10:22] thagul opened #44 "Overriding event handler"
Hi,

is it possible to override some event handlers or listen to other events? Specifically I need to validate the selected date, check if it's empty or not and then show a validation message.
I can't observe the value because the validation message will show up also when the page is loaded for the first time. I was thinking to listen to `focus-out` or `close` events but I can't figure out how to

[2015-07-31 14:37] bluemango opened #45 "Clearing out a field doesn't update the bound variable"
If I bind a controller value to the date field and then clear out the date in the field the old value is never set to null.

[2015-07-31 20:49] stravid commented on #44
Hi @thagul!

I would create a custom component and extend the `PikadayInput` component. Within your custom component you can define your own event handlers, see the example below. `onPikadayClose` for example is triggered on `onClose` of Pikaday.

You can see the [other callbacks in the source code](https://github.com/edgycircle/ember-pikaday/blob/master/addon/components/pikaday-input.js#L16-L19).

[2015-07-31 20:49] #44 closed

[2015-08-03 06:10] stravid commented on #45
Thanks for reporting this @bluemango. I will look into how we can fix this.

[2015-08-04 21:40] kmiyashiro opened #46 "DDAU"
Now that Ember 1.13 is out and things are moving more towards data down, actions up, do you see moving ember-pikaday towards that paradigm instead of just two way bound attributes?

I'm having some issues dealing with the lack of granularity since I have two pikadays for custom date ranges, and then also some date range presets. When the user sets a date from pikaday, I want to set the preset to "

[2015-08-05 12:15] stravid commented on #46
Thank you for opening this issue @kmiyashiro, I appreciate it when somebody thinks about improving things.

I can certainly see ember-pikaday move towards the new DDAU paradigm. While I do know what DDAU is about I have zero practical experience with it. And it seems there is still not a lot of information available.

Do you have more experience in this field? Or even better: Do you have concrete

[2015-08-14 16:29] mattmcmanus commented on #46
From a very high level, it means that components do not mutate the variables they receives. So think of anything passed in as an attribute as immutable. When one of those values change, it should fire off an event that a container component or controller is listening for. It will update the appropriate value and ember will take care of passing the right values down the component tree.

Take a look

[2015-08-17 13:14] stravid commented on #46
Thanks for your comment @mattmcmanus with these two links. I certainly understand the concept in broad strokes but lack the practical experience. Meaning I have no idea what consequences it has on application development. I will have to play around and see how it works out.

What do you think of backwards compatibility? Do you agree with me that such a paradigm switch should be a new major version

[2015-08-17 17:23] mattmcmanus commented on #46
Sorry if I mounded stood and gave you a lecture you didn't need!

Since ember will add angle bracket components and the ddau pattern with in
a minor release i would guess it would be a good idea keep backwards
compatibility.
On Mon, Aug 17, 2015 at 9:14 AM David Strauß <notifications@github.com>
wrote:

--

*Matt McManus*
Independent Developer, Designer & Technical Advocate
(215) 565-5379
http://m

[2015-08-18 09:37] kmiyashiro commented on #46
I actually got to DDAU approach by using the `on*` hooks that were recently added. For example,

[code]

The `selectFrom` action lets me override the default behavior of modifying the value and letting me do whatever I want with the value in my own action.

I think the various `on*` methods should be documented so people know which ones to assign actions to.

[2015-09-11 15:10] dewitt-li opened #51 "How to show today button?"
Does the addon has the feature of showing a Today button, which will highlight today's date when click?

[2015-09-17 23:10] a6ftcruton commented on #44
@stravid Tried extending PikadayInput as you show above and, even with nothing inside the class, I'm getting "Maximum callstack exceeded"

[code]

[2015-10-01 14:04] ismay opened #53 "Pass unrecognised options to pikaday"
I'd like to use a couple of options from pikaday that aren't yet implemented in this addon (trigger, position). Instead of manually aliasing them, would it be an idea to pass any unrecognised options on to pikaday?

[2015-10-05 14:13] rinti commented on #45
I also ran into this problem right now.

[2015-10-10 11:04] KirillSuhodolov commented on #53
@ismay +1
I need disableWeekends option for example from list https://github.com/dbushell/Pikaday#configuration
Is any way to add them?

[2015-10-12 11:42] stravid commented on #53
Hello @ismay and @KirillSuhodolov thanks for opening this issue. This is certainly a feature I want myself, currently I'm not sure how to handle this elegantly without doing all the work manually.

A solution I thought about is using meta programming to generate all the bindings to Pikaday.

Your idea also sounds promising, but I'm not aware how to detect unrecognised options? Can you explain this

[2015-10-12 11:48] stravid commented on #51
Hello @dewitt-li this addon currently has no such feature.

Pikaday itself has an method to do this `picker.gotoToday()`, this could be used if you decide to extend the component and implement your own logic.

Otherwise you could always select the current date by setting the value to `new Date()` which is always today.

[2015-10-12 11:48] #51 closed

[2015-10-12 12:00] stravid commented on #44
@a6ftcruton So sorry I overlooked the GitHub notification, do you still struggle with this problem?

[2015-10-12 12:56] ismay commented on #53
@stravid This is what I'm doing to move unrecognised options to another object: https://github.com/superwolff/metalsmith-layouts/blob/master/lib/index.js#L68 Don't know if that's applicable to your situation though.

[2015-10-15 09:02] stravid commented on #53
@ismay I'm afraid that doesn't help in this situation. If I'm correct we want to give people the ability to pass any Pikaday option to the component. I'm not sure if it is possible in Ember.js to get a list of passed component parameters.

[2015-10-15 09:03] ismay commented on #53
Hmm ok, yeah you'll need that if you want to strip any addon specific parameters from what you're passing to pikaday.

[2015-10-15 09:09] stravid commented on #53
Google sadly turns up nothing for me, I will start asking around if somebody knows a trick.

[2015-10-16 23:22] KirillSuhodolov commented on #53
@stravid Possibly solution:
1) Give possibility to pass options hash to component

Somewhere at .js

[code]

at .hbs
[code]

2) On this string merge two options hashes https://github.com/edgycircle/ember-pikaday/blob/master/addon/components/pikaday-input.js#L32

[code]

Thoughts?

[2015-10-17 14:13] a6ftcruton commented on #44
@stravid This is no longer an issue for me. Thanks for this great addon :+1:

[2015-10-20 09:57] acdx commented on #45
I have this issues as well. Also, it's not very clear from the documentation how the component deals with missing/null values.

[2015-10-24 14:53] stravid commented on #46
I updated the README to communicate the callbacks and the state of affairs regarding DDAU. Thanks again for bringing this topic up in the first place!

[2015-10-24 14:53] #46 closed

[2015-10-24 14:58] stravid commented on #53
@KirillSuhodolov That would certainly work, I'm not sure if I like the idea of passing an entire options hash as parameter. If we do this there will be some options as standalone parameter and than there will be others that need to be put into an options hash.

Maybe we could do a little meta programming to solve this problem elegantly..

[2015-10-24 15:00] stravid commented on #45
@bluemango @rinti @acdx I just released `0.13.0` which fixes this issue, thanks for taking the time and reporting it!

[2015-10-24 15:00] #45 closed

[2015-11-10 19:14] lan0 commented on #53
:+1: for custom options

[2015-11-18 20:48] bluemango commented on #45
@stravid thanks! Works great.

[2015-11-19 15:01] corrspt opened #56 "Update to Pikaday 1.4"
I'd like to request an update to Pikaday 1.4 due to [these](https://github.com/dbushell/Pikaday/issues/276) [issues](https://github.com/dbushell/Pikaday/issues/303) which are solved by this [PR](https://github.com/dbushell/Pikaday/pull/389) which is only available in Pikaday 1.4

Thanks a lot.

[2015-12-15 23:20] jamesarosen opened #58 "Inputless Pikaday"
I have a use-case where I want to show the interactive Pikaday calendar, but not attach it to an `<input />`. That's tricky to do with the current component (mostly because it's difficult to override the `field: this.$()[0]` option).

If you think this use-case would be a good one to include in this library, I'd be happy to work on extracting the common logic to a mixin or utility class.

What do

[2015-12-17 12:28] stravid commented on #56
Sorry for having you wait for so long @corrspt, thanks to @drapergeek this is now done.

[2015-12-17 12:28] #56 closed

[2015-12-17 12:30] corrspt commented on #56
Thanks!  I should have probably done what @drapergeek did and create that PR. Many thanks @drapergeek and @stravid for the release.

[2015-12-17 12:39] stravid commented on #58
I think that's a great idea and users can only benefit if this addon also covers this use-case. Feel free to take a stab at how this can be accomplished.

Can I ask a question regarding your usage of `ember-pikaday`? What made you pick it / use it?

[2015-12-23 09:27] splattne opened #59 "Change i18n locale after initialization"
Is there a way to change the component's i18n localization language on the fly? In my app I set the i18n locale to the user's preference after getting that information from the store.

[2015-12-28 21:51] adjohnson916 opened #60 "Clear invalid input text"
When the input is edited manually, the plugin should optionally validate the text content, and clear it if invalid.

[2016-01-21 12:31] tushar-chauhan commented on #59
I am also trying to get on the fly i18n working.
@splattne Did you somehow find anything helpful for this?

[2016-01-21 15:58] splattne commented on #59
@tushar-chauhan No, since my project isn't in production yet, I'll look into this later (within the next 2-3 weeks probably). Ping me, if you have news about the matter. Thanks!

[2016-01-28 22:06] iancanderson opened #62 "Deprecation warning on Ember 1.13.x due to modifying properties in `didInsertElement` hook"
See http://emberjs.com/deprecations/v1.x/#toc_modifying-a-property-within-code-didinsertelement-code

The issue is that `didInsertElement` results in `this.set()` calls, which cause rerendering and performance issues:
https://github.com/edgycircle/ember-pikaday/blob/b6440b6ec9d363669566558e059ea8b73bb7a47b/addon/components/pikaday-input.js#L11

A potential workaround is moving this code into `didR

[2016-02-29 23:45] peteonrails commented on #62
This became a blocker for me in my latest project. Here is my workaround. https://github.com/edgycircle/ember-pikaday/pull/64

[2016-03-03 03:26] jamesarosen commented on #58
We aren't using it yet. Our UI calls for a datepicker that doesn't have an `<input>`; it's just a calendar. I added a task to our tracker to

 1. extract the event-handling and conversion logic from the component in this library into a utility
 2. create a new component in this library based on the same utility that just has calendar selection
 3. use ember-pikaday in our app
 4. profit!!!

[2016-03-14 06:15] stravid commented on #59
I did not try it myself but I doubt it works on the fly out of the box. You could extend the component with your own and set `pikaday.options` (or whatever it is called in Pikaday) in an observer based on the locale.

[2016-03-14 06:15] #59 closed

[2016-03-14 06:16] stravid commented on #60
Based on what rules should the validation happen? This sounds like something highly specific per use case.

[2016-03-14 06:20] stravid commented on #62
I just released `1.0.0` which includes this fix, thanks for reporting.

[2016-03-14 14:15] #62 closed

[2016-03-21 14:58] andrehigher opened #66 "Ember pikaday isn't working with acceptance tests"
After install it with ember-cli like: `ember install ember-pikaday`  I'm getting this error:

```Error: Could not find module `ember-pikaday/components/pikaday-input` imported from `acdc/components/pikaday-input````

So I'm assuming that pikaday is not already including their dependencies inside the project.

I've tried to include the test helpers as well but it's still doesn't work.

[2016-03-21 15:20] thijsvdanker commented on #53
How about `this.attrs`?

See http://emberjs.com/blog/2015/05/10/run-up-to-two-oh.html#toc_the-code-attrs-code-property

And a working demo:
https://ember-twiddle.com/33ac989edcd605f5cced?openFiles=application.template.hbs%2Cmy-component.template.hbs

[2016-04-04 20:03] LiquidFlame opened #68 "Format and Placeholder Option"
On our edit page, we currently have the placeholder equal to the date that the user has previously selected. Will the format option with pikaday format that date to display the way we want it, i.e "MM-DD-YYYY"?

[2016-04-08 14:14] stravid commented on #66
What version of Ember CLI is used? Ember version? Do you have a repository where I can reproduce the problem?

[2016-04-08 14:19] stravid commented on #53
Thanks for the pointer @thijsvdanker, I will take a look and think about how we can use this.

[2016-04-08 14:20] stravid commented on #60
Please re-open once you find the time to elaborate your thoughts @adjohnson916.

[2016-04-08 14:20] #60 closed

[2016-04-08 14:27] stravid commented on #68
If I understand your question correctly: Yes that's what the `format` option does.

[2016-04-08 14:27] #68 closed

[2016-04-08 14:45] LiquidFlame opened #69 "Loosing A Day"
I'm trying to use ember-pikaday, but I'm having issues with it not displaying the correct date. Every time the date it displays, its the previous date of the actual date. For example if the date is 04/06/2016, it displays 04/05/2016. Below is the code that I am using, I have noticed though that if I replace value with placeholder, then the date does display correctly, just not in the right format,

[2016-04-08 14:50] stravid commented on #69
This sounds like a timezone issue. Does https://github.com/edgycircle/ember-pikaday#return-dates-in-utc-time-zone solve this issue?

[2016-04-08 15:07] LiquidFlame commented on #69
Nope, doesn't seem to do anything. Using the following:

`{{pikaday-input id="effectiveDate" name="effectiveDate" class="form-control textCenter" format="MM/DD/YYYY" value=model.effectiveDate firstDay=0 useUTC=true disabled=isDisabledDate}}`

[2016-04-08 15:08] stravid commented on #69
Please create an example repository where this can be reproduced and I will take a look at your problem!

[2016-04-12 00:22] MichaelBoselowitz commented on #69
I am having a similar issue.

`{{pikaday-input value=date firstDay=0 useUTC=true format="D MMM YYYY"}}` always presents yesterday's date once selected. I am in EST -0400.

When April 13th is selected the inspector shows: `Tue Apr 12 2016 20:00:00 GMT-0400 (EDT)`. This is correct, but when displayed it should show April 13th and not April 12th.

[2016-04-13 10:35] MarkMT opened #70 ""Assertion Failed: A helper named 'pikaday-input' could not be found""
No doubt I'm missing something stupid, but I've installed ember-pikaday as described in the readme, confirmed that it's in package.json and that pikaday is in bower.json, but when I add the component to my template I get the error `Assertion Failed: A helper named 'pikaday-input' could not be found`.

As it turns out I'm not going to be able to use this anyhow - what I actually need is day-month-y

[2016-04-14 04:44] adjohnson916 commented on #60
@stravid Don't we have the `format` attribute?

[2016-04-15 12:21] stravid commented on #70
Thanks for the issue, I will check out what goes wrong.

[2016-04-16 22:22] GRardB commented on #69
I'm running into this issue as well. The date used to format the date for the user's eyes should be in local time, but the value saved in the model should be UTC. I've worked a lot on timestamps, and may be able to help if it's unclear how to do this, but I'm pretty new to Ember-specific things.

As a "temporary" (possibly) workaround, I created a [UTC transform](https://gist.github.com/GRardB/4d3

[2016-04-16 22:59] MichaelBoselowitz commented on #69
@GRardB that's not a bad solution IMHO. I personally solve this with a computer property (on the model) which on get it transforms the model's date (in UTC) into local time and on set it simple passes through to the model's date attribute.

Doing so allows me to deal with dates on the frontend in UTC, besides this particular edge case.

[2016-04-19 17:49] jbuckner commented on #58
I'm also interested in this use case and was curious if it was actually supported and I was just missing it. I tried customizing the `tagName` and `classNames` to tried to fake it, but the click bindings started breaking (possibly related to the `this.$()[0]` field declaration).

One possible solution I was thinking of was allowing block-syntax where the contents are the clickable handle and just

[2016-05-04 00:24] misteroh commented on #69
Also running into this issue... The use UTC property doesn't do anything

[2016-05-04 20:01] misteroh opened #72 "DDAU hooks"
I'm setting `onSelect` to `(action 'dateSelected')` but it's never firing that action. When you said: ` you can extend the pikaday-input component and overwrite certain callbacks `, are you saying we should change your addon code directly?

Sorry and thanks!

Edit: Oh i got it doing `onPikadaySelect` instead. I think the docs need to be updated? I'll make a small pull request

[2016-05-05 03:08] pixelhandler commented on #72
@misteroh I had the same issue I'll try `onPikadaySelect=(action 'dateSelected')`

[2016-05-11 11:29] christophermlne commented on #72
@pixelhandler, @misteroh This is what I did to get DDAU working. Notice the hooks are not in the actions hash:

```javascript```
import Ember from 'ember';
import PikadayInputComponent from 'ember-pikaday/components/pikaday-input';

const { get, run } = Ember;

export default PikadayInputComponent.extend({
  onPikadayOpen() {
    this.attrs.onOpen();
  },
  onPikadayClose() {
    this.attrs.onClos

[2016-05-13 06:00] ykaragol opened #76 "Title and hidden attributes"
According to the W3 standards, `title `and `hidden `attributes are [global attributes](https://www.w3.org/TR/html-markup/global-attributes.html). So these two should be considered to be added to the `attributebindings`.

[2016-06-01 20:46] lmcardle opened #78 "months on the i18n object is undefined"
I am trying this addon out in an existing project, however I am getting the error: "Cannot read property '0' of undefined". The resulting line of code causing this issue is here: https://github.com/dbushell/Pikaday/blob/master/pikaday.js#L364. Has anyone come across this before?

[2016-06-02 20:32] ynnoj commented on #78
@lmcardle Yep, encountering same issue here 😞

[2016-06-08 13:51] marcocampos commented on #78
@lmcardle Same here.

[2016-06-08 13:59] ynnoj commented on #78
I tried a fork that updated the `pikaday` dependency from `1.4.0` to follow the master branch, as the last release is a way behind.

No such luck :(

[2016-06-13 09:59] mciastek opened #79 "Test helpers - error with touch event"
Hi,

I used test helpers for ember-pikaday in my tests using Phantom.js and it throws: `TypeError: undefined is not an object (evaluating 'event.changedTouches.length')`. I think it's caused by that [line](https://github.com/edgycircle/ember-pikaday/blob/master/addon/helpers/pikaday.js#L18):

[code]

Maybe it should be change to `tap` event?

Regards

[2016-06-14 13:25] stravid commented on #76
@ykaragol can you please elaborate your problem / idea further? Currently I don't understand what you are trying to tell me :)

[2016-06-14 13:38] stravid commented on #78
I just tried to reproduce this problem but failed, blank Ember CLI project newest `ember-pikaday`.
Can anyone of you please create a repository were the problem is reproducible?

Basically it seems that not all I18n keys are set, but I can only tell for sure if I see the error happen.

[2016-06-14 13:41] stravid commented on #79
Thanks for reporting @mciastek this issue. Can you create a repository where I can reproduce the problem? Thank you in advance :)

[2016-06-14 14:37] stravid commented on #53
I think the new beta version `2.0.0-beta.1` addresses this issue. Please reopen and elaborate if that's not the case, thanks!

[2016-06-14 14:37] #53 closed

[2016-06-14 14:38] stravid commented on #72
I think the new beta version `2.0.0-beta.1` addresses this issue. Please reopen and elaborate if that's not the case, thanks!

[2016-06-14 14:38] #72 closed

[2016-06-14 14:39] stravid commented on #66
Please re-open once you can provide more details, thanks!

[2016-06-14 14:39] #66 closed

[2016-06-14 14:42] stravid commented on #70
I tried but can't reproduce the problem. Please re-open if someone can provide a reproducible test repository, thanks!

[2016-06-14 14:42] #70 closed

[2016-06-15 10:47] ykaragol commented on #76
I've updated my comment and sent a pull request.

[2016-06-15 16:47] DanLatimer opened #81 "DDAU doesn't support clearing input"
clearing input is supported via 2 way data binding as seen here: https://github.com/edgycircle/ember-pikaday/commit/7293b7795258154058d7653ee6019281d61b18e6

[code]

But we aren't sending a onSelectionChanged() event in that case. To get DDAU to work with clearing input events we would want to do something like:
[code]

[2016-06-16 04:40] stravid commented on #81
@DanLatimer good catch, thanks for the issue! Do you have time to create a pull request fixing this and adding a regression test case?

[2016-06-16 10:01] #76 closed

[2016-06-17 00:48] dougmcclurg opened #82 "stylesheet no longer loads after upgrade to ember-cli 2.6.1"
After upgrading our app from `ember-cli : 1.13.8` to `ember-cli : 2.6.1` we lost any vendor styles we were getting from pikaday.

We are on ` ember-pikaday : 1.1.0`, `ember-cli : 2.6.1` and `ember : 2.4.3`

I have tried adding the line in ember-cli-build to import the css from pikaday   `app.import('bower_components/pikaday/css/pikaday.css');` with no success.

In order to get this working i've ha

[2016-06-17 11:27] stravid commented on #82
Thanks for the report @dougmcclurg, would you mind creating a test repository where this happens so I can investigate?

[2016-06-20 17:13] DanLatimer commented on #69
I'm running into this problem too. The useUTC property does make it so that the datepicker will return values to you in UTC format but if you pass a UTC formatted date to the datepicker it will assume that you want it displayed in your local timezone. useUTC should be checked when accepting dates programmatically also.

I might have time to do a PR for this but I'm not able to say for sure.

[2016-06-20 20:29] Nuzsk opened #85 "stopPropagation for click event"
Ver: v2.0.0-beta.1

"ember-pikaday" component does  action of parent block when input field was clicked.
Example error:
[code]
Fix:
[code]

[2016-06-21 18:52] #81 closed

[2016-06-21 18:53] stravid commented on #69
Thanks to @DanLatimer this is fixed with version `v2.0.0-beta.2`.

[2016-06-21 18:53] #69 closed

[2016-06-21 19:05] stravid commented on #85
What is your use case? Please elaborate, stopping event propagation without a clear reason sounds wrong and broken to me.

[2016-06-21 19:27] Nuzsk commented on #85
@stravid This is necessary as an alternative to "trigger" pikaday option that works exclusively with the dom element. In this case, I want to programmatically open and close the datepicker by clicking on the parent dom element. If it does not apply stopPropagation - there recursion.

example:
[code]
[code]

[2016-06-27 11:54] KeerthiHarish commented on #58
Any update on this issue?

[2016-06-29 07:47] stravid commented on #78
Please re-open in case you have an update for me @ynnoj @marcocampos @lmcardle  :)

[2016-06-29 07:47] stravid commented on #79
Please re-open in case you have an update for me @mciastek :)

[2016-06-29 07:47] #79 closed

[2016-06-29 07:48] stravid commented on #82
Please re-open in case you have an update for me @dougmcclurg :)

[2016-06-29 07:48] #82 closed

[2016-06-29 07:48] marcocampos commented on #78
Wrong Campos, mate :)
On Jun 29, 2016 08:47, "David Strauß" <notifications@github.com> wrote:

[2016-06-29 07:55] stravid commented on #58
Not from my side @KeerthiHarish

[2016-06-29 07:57] stravid commented on #85
In your use case, wouldn't be the solution to not nest the input inside your trigger? I so reluctant to your idea of using `stopPropagation` because I have no idea what the consequences would be.

[2016-06-29 09:30] ynnoj commented on #78
@stravid I was unable to replicate the issue on a new ember-cli project. However, I've just come back to work on the branch of the project I was having issues on and I've managed to track the problem down to the use of `ember-i18n`.

I have an `initializer` which injects the `i18n` service into all the projects components. Removing the `initializer` restores functionality.

[2016-06-30 10:28] hdra opened #89 "Is the `value` 2-way binding still working on 2.X?"
Title question. I recently upgraded to `2.0.0` so that I'm able to clear the selected value, but I noticed that although I'm able to set the initial selected date, changing the date via Pikaday afterward doesn't change the bound value.

It is able to set the bound value to `null` when I clear the input though.

Is this an intended deprecation or is it a bug?

[2016-07-08 06:24] splattne commented on #89
I think you can do it this way:

    {{pikaday-input value=someDate onSelection=(action (mut someDate)) ... }}

[2016-07-08 08:42] FUT opened #91 "Tabindex binding"
should bind tabindex attribute

[2016-07-08 08:49] FUT commented on #91
Added PR https://github.com/edgycircle/ember-pikaday/pull/92

[2016-07-08 20:15] mdentremont opened #93 "Deprecation warning with latest moment JS"
After updating to the latest version of moment I'm seeing the following deprecation warning which originates in Pikaday:
[code]

edit: After downgrading moment I'm still seeing this - I think it might be linked to the latest version of ember-pikaday

[2016-07-09 12:15] stravid commented on #93
Thanks for the report, I'm currently swamped at work and will try to take a look as fast as possible.

[2016-07-09 12:16] stravid commented on #91
Thanks for the issue and pull request, I'm currently swamped at work and will try to take a look as fast as possible.

[2016-07-09 12:19] stravid commented on #89
2.X tries to follow Embers lead when it comes to Data Down - Actions Up. In this case it means the component can't change bounded values. You have to do it in your own action. (See @splattne answer for a shortcut.)

Clearing the input and setting the bound value to `null` seems like a bug. I'm currently swamped at work and will try to take a look as fast as possible.

[2016-07-09 23:34] mdentremont commented on #93
@stravid This fixes it for me: https://github.com/edgycircle/ember-pikaday/pull/94

[2016-07-13 15:27] mdentremont commented on #93
@stravid: All you have to do is hit the green button 😄 #94 (..and put out a new release)

[2016-07-18 15:25] stravid commented on #93
@mdentremont I tried to reproduce the error but could not do so? When does this happen? With what versions of Moment.js? (Maybe you have a repository to reproduce the problem?)

(I want to understand the problem before clicking merge in case you are wondering :))

[2016-07-18 15:28] stravid commented on #89
Please re-open in case you have further questions.

[2016-07-18 15:28] #89 closed

[2016-07-18 15:28] stravid commented on #85
Please re-open in case you want to discuss this further.

[2016-07-18 15:28] #85 closed

[2016-07-18 15:31] mdentremont commented on #93
Using moment 2.14.1 - unfortunately the repository I'm using is private, so I can't share it 😞.

Here is a link which explains the reasoning for the deprecation: http://momentjs.com/guides/#/warnings/js-date/ (the long version is here https://github.com/moment/moment/issues/1407)

[2016-07-19 07:35] stravid commented on #93
Thanks for the version number, that did it :)

[2016-07-19 07:35] #93 closed

[2016-07-19 07:53] #58 closed

[2016-07-19 08:28] stravid commented on #58
I just released `2.1.0` which adds an inputless component.

[2016-07-19 08:28] stravid commented on #91
I just released `2.1.0` with your changes, thanks again!

[2016-07-19 08:28] #91 closed

[2016-07-19 11:25] mdentremont commented on #93
Awesome!

[2016-07-19 19:40] utilityboy opened #97 "Time-enabled Pikaday"
Hi,

There is a very well maintained fork of pikaday that adds time-picking support as well (https://github.com/owenmead/Pikaday/).  dbushnell even endorses this fork to an extent for people looking for date/time picking.

I'm planning on forking this repo to add support, but wanted to check to see if you thought there was another way to go about it  I'm fairly certain you wouldn't want to change

[2016-07-20 13:25] stravid commented on #97
Thanks for the kind words and asking about my opinion. You are right when it comes to the dependency, at the moment I don't see a reason to swap it. Mainly because personally I would try to keep a data input separate from a time input in an application.

But that's only my opinion and there are good reasons to do otherwise. I wish you good luck with implementing the feature and hope `ember-pikaday

[2016-07-20 13:25] #97 closed

[2016-07-20 13:27] utilityboy commented on #97
@stravid sounds good.  I'll fork this and let you know when it's ready.   If you have time for review and think it's decent, perhaps we can cross-link to each other in the readme.

[2016-07-20 13:34] stravid commented on #97
Sure thing! Just keep me in the loop and we go from there :)

[2016-07-22 22:20] albertonavarro087 commented on #60
any update regarding this issue?

[2016-07-22 23:44] albertonavarro087 opened #98 "clean field if date is not valid"
Is there a way to clean the field if user type "wwwwwww"?, right now it only works just the very first time but after open the calendar  select a date and then type an invalid date field does not get clear and onSelection is not fire

thanks

[2016-07-24 07:45] stravid commented on #60
@adjohnson916 I must have overlooked your comment, sorry. `format` is indeed set it some cases.

@albertonavarro087 no update from my side, feel free to implement the feature and open a pull request to discuss it further.

[2016-07-24 07:47] stravid commented on #98
@albertonavarro087 as mentioned in the other issue this seems to currently not work. Feel free to create a test case and fix the issue, thanks.

[2016-07-28 15:19] WooDzu opened #100 "Format input output to user locale"
I've been trying to set the format to user's locale format (the formatted string visible in the input field) to no availability.
The problem seems to be that the `format` parameter expects a format string eg `{{pikaday-input format="MM/DD/YYYY"}}` but it's impossible to find out what the browser's format is currently set.

I would actually expect the output to be processed with Date.prototype.toLo

[2016-08-09 23:49] steven77723 opened #102 "Pikaday test method, specifically picker.selectedDay() not working."
It seems that picker.selectedDay() method is not working for me.

[code]

Each of the console.log returns a 4, even though it shouldn't be according to the docs.

[2016-08-10 00:05] steven77723 commented on #102
Dug into helpers/pikaday.js and console logged some stuff. Because I was testing a page with 2 pikaday components, I believe selectedDay was referring to the 1st pikaday component (which did have its date as the 4th).

herlper/pikaday.js
`var PikadayInteractor = {
  selectorForMonthSelect: '.pika-select-month:visible',
  selectorForYearSelect: '.pika-select-year:visible',
  selectDate: function(da

[2016-08-13 19:24] vileladiego opened #103 "change the minDate at run time does not work"

[2016-08-17 11:46] nomuna opened #104 "Syntax for localization is for old versions of emberjs, hard coded text in i18n initializer code."
I am using your plugin in an application using ember 2.7.0. I needed localization and had
to adjust the code for the initializer for the version 2.7.0 of ember. Could you update your code/readme with the new syntax for later versions of ember?

[code]

previousMonth and nextMonth were given hard coded text in German. I had to localize it using the i18n. I think it is another issue.

[2016-08-17 11:56] nomuna opened #105 "Hard coded format string in pikaday-mixin"
if the pikaday component is not given any format in the template the default format is used.

Is it possible to use the localization feature to enable setting a default format?
I mean the code snippet in README.md for *app/initializers/setup-pikaday-i18n.js*.

The issue is related to #100 I think.

Thanks,

nomuna

[2016-08-17 16:45] malatin3 opened #106 "Plans to support passing in moments for value"
Are there any plans to support passing moments directly to the component as a value (using Pikaday's get/setMoment functions) or are we stuck with using native JavaScript Date objects?

I have a use case where I need to display a date in a time zone that is neither my local time zone nor utc.

[2016-08-25 18:04] #103 closed

[2016-08-31 18:28] optikalefx opened #107 "disabledWeekends doesn't work"
https://cl.ly/0N3W2p1S313J

Just installed this, even tried with no other options on it.

[code]

[2016-08-31 18:33] optikalefx commented on #107
I take that back. I see that options that are not in the readme need to go inside of the hash component.

I would like to recommend a docs update. Either make all properties in that hash, or specify at the top that this addon ONLY implements partial feature support. For full features please use the hash options component.

[2016-09-15 22:51] robmonie commented on #106
Regardless of timezones, I think having a mode that supports using moment as the base type instead of js dates would be quite useful. We're looking at updating our app to use moment everywhere in place of dates and the one thing that's making that a little tricky is the date picker.

We're currently looking at using computed properties to do translations between the date picker and the underlying

[2016-09-20 11:25] christophermlne opened #109 "Fastboot compatibility"
An Ember project will not build successfully if this addon is present in package.json

The Fastboot addon author guide has steps listed to ensure addon is compatible with Fastboot:
http://www.ember-fastboot.com/docs/addon-author-guide

[2016-10-11 01:59] josemarluedke opened #114 "Get third-party dependencies from npm instead of Bower"
Since emberjs/ember.js/pull/13022 has been merged, removing the `pikaday` bower dependency and start using the NPM version would be very welcome.

[2016-10-11 02:00] josemarluedke commented on #109
Yes, would be awesome to get this addon working with fastboot.

[2016-10-19 09:47] duizendnegen commented on #114
Thanks for the PR 👍

[2016-10-19 09:47] #114 closed

[2016-10-19 09:54] duizendnegen commented on #109
At the moment `ember-pikaday` is quite coupled with `Pikaday`, ideally we'd tease out these two a bit more so that e.g. interaction is still possible with Fastboot, just not with the date picker actually opening.

Steps required:
[ ] Make list of non-fastboot compatible calls
[ ] Wrap date interaction in own abstraction

Happy to receive your input on both points. I currently do not work with fast

[2016-10-19 09:59] duizendnegen commented on #106
In our app we also do the translations between the date picker and the underlying data and I agree this is a suboptimal solution.
One of the odd things that result is that UTC and non-UTC behave differently, since the underlying logic is different.

A possible work-around would be to inspect the `value` passed to `setPikadayDate` (https://github.com/edgycircle/ember-pikaday/blob/master/addon/mixin

[2016-10-19 10:00] duizendnegen commented on #107
Welcoming a PR for README.md

[2016-10-19 10:02] duizendnegen commented on #102
Should be fixed with https://github.com/edgycircle/ember-pikaday/pull/112, I'll give you a notification when that PR lands.

[2016-10-19 10:21] duizendnegen commented on #102
Can you verify whether this is still the case?

[2016-10-24 11:56] duizendnegen commented on #109
The main use case is solved - thanks @josemarluedke.
As I wrote elsewhere, I'm keeping this issue open, as I think there may be value in abstracting away date interaction to enable usage without Pikaday.js, e.g. #90.

[2016-10-25 09:34] fogisland opened #117 "pikaday option defaultDate & setDefaultDate not work"
See pikaday defaultDate example: http://jsfiddle.net/ppdJx/16/
But with this addon these two options won`t work.
I commented one line of code as below (in mixins/pikaday.js)and it works again:

[code]

[2016-10-25 12:29] duizendnegen commented on #117
Can you share a minimal Ember Twiddle (https://ember-twiddle.com/) displaying this?
Did you set defaultDate in the option hash?

[2016-10-26 03:10] lcpriest commented on #78
@stravid

The issue is with ember-i18n and ember-pikaday. When ember-i18n is used with an initializer (https://github.com/jamesarosen/ember-i18n/wiki/Doc:-i18n-Service), it is passed through in the pikaday mixin https://github.com/edgycircle/ember-pikaday/blob/cad86f3fa6e52bee32064bc482745723802d38bd/addon/mixins/pikaday.js#L17, which overrides the defaults set by this addon.

The issue then stems

[2016-10-26 03:36] fogisland commented on #117
I tried ember-twiddle, but some error was encountered when installing this addon in ember-twiddle.

Yes I set defaultDate in the option hash, this is my code:
[code]

I think maybe the origin code in pikaday.js prevented the underlying pikaday to set defaultDate as the initial value?

[2016-10-26 03:38] fogisland commented on #117
BTW, this is the error I encountered in twiddle:

ember-twiddle-7e98278….js:2 Could not start watchman; falling back to NodeWatcher for file system events.
Visit http://ember-cli.com/user-guide/#watchman for more info.
Installed packages for tooling via npm.
installing ember-pikaday
  install bower package pikaday
  not-cached https://github.com/dbushell/Pikaday.git#*
  resolved https://github.com

[2016-10-26 04:04] lcpriest commented on #78
I have a working fork here: https://github.com/advocately/ember-pikaday-ember-i18n

It's not mergeable as it drops support for other i18n libraries, but it explains the issue I am describing pretty clearly.

[2016-10-26 05:20] duizendnegen commented on #78
@lcpriest would something in following lines work:

[code]

I'd like to get `ember-pikaday` up to date with the latest version of `ember-i18n`, but I agree we can't drop support for other i18n libs - we could check what library we're dealing with, only then using the `t` translation helper.

[2016-10-26 05:22] lcpriest commented on #78
@duizendnegen yeah, that should work great.

This is the line in question by the way:
https://github.com/advocately/ember-pikaday-ember-i18n/blob/master/addon/mixins/pikaday.js#L18

[2016-10-26 05:23] duizendnegen commented on #117
Yea generally speaking the support for the options hash is less thorough as properties we add natively.
The road forward here is:

* [ ] add `defaultDate` as a native argument in `pikaday-input`, e.g. `{{pikaday-input defaultDate=myDate}}`
* [ ] use `setDefaultDate` to true if `defaultDate` is supplied and pass the `defaultDate` on to `Pikaday`.

Welcoming a PR, I might not be able to get to this

[2016-10-26 05:25] duizendnegen commented on #78
My `ember-i18n` knowledge isn't that great, so could I ask why `.string` should be used?
Would you mind updating your library with the solution mentioned above, then opening a PR?

[2016-10-26 05:27] duizendnegen commented on #104
Issue as in #78, let's focus there.

[2016-10-26 05:27] #104 closed

[2016-10-26 05:30] lcpriest commented on #78
[code]

Working on it now :)

[2016-10-26 05:36] duizendnegen commented on #105
See #78 and the PR that solves that problem.

[2016-10-26 05:36] #105 closed

[2016-10-26 05:36] #107 closed

[2016-10-27 07:24] duizendnegen commented on #78
🎉

[2016-10-27 07:24] #78 closed

[2016-11-04 13:42] nomuna commented on #105
Thanks.

[2016-12-08 15:44] luxferresum opened #120 "Glimmer and `mut` helper not working"
This worked fine in ember 2.8.x, but not in 2.10.0:

    {{pikaday-input onSelection=(action (mut foo))}}
    <br>
    {{foo}}

The expected behavior is that the date can be selected and then is stored in the variable `foo` and so displayed.

When used with ember 2.10, so glimmer, the variable `foo` gets set back to `null` immediately.

This can be reproduced on a fresh ember-cli project with `"em

[2016-12-08 17:04] duizendnegen commented on #120
What happens in the case you use `(action 'myAction)`? Intuitively I'd say the `onSelection` action gets fired twice, but I'd have to investigate.
Would also appreciate a slimmed down Ember Twiddle showing just that.

[2016-12-08 17:06] duizendnegen commented on #102
Closing due to inactivity.

[2016-12-08 17:06] #102 closed

[2016-12-08 17:09] luxferresum commented on #120
Doesn't get fired twice. Tried that. A normal action is called as expected.

I wasn't able to get ember-pikaday running in a twiddle at all. Can provide a git repo tho, if this would help.

[2016-12-08 17:23] duizendnegen commented on #120
That'd surely help - when you add an observer to `foo`, does that get fired twice, or just set once (to `null`)?

[2016-12-08 23:38] luxferresum commented on #120
[here](https://github.com/luxferresum/ember-pikaday-action-problem-demo) is a repo.
And an observer does get fired twice.

Okay, I figured out that the second `onSelection` gets fired because of [this](https://github.com/edgycircle/ember-pikaday/blob/master/addon/components/pikaday-input.js#L32) code. `Ember.isEmpty(this.$().val())` does evaluate to true, so the `this.get('onSelection')(null);` is

[2016-12-09 01:46] luxferresum commented on #120
Okay, I identified the underlaying problem.

Basically in ember `2.10` calling a `mut` helper will result in triggering `didUpdateAttrs`.
[here](https://github.com/luxferresum/ember-mut-problem) is a repo for reproduction.

However this seems fixed on `canary` and `beta`. Not sure what to do now. Wait for a hotfix?

Maybe [this](https://github.com/emberjs/ember.js/issues/14654) is related?

[2016-12-09 16:12] duizendnegen commented on #120
Yea, if it's fixed on `canary` and `beta` I'd rather wait for a `2.10.x` bug-fix release to come out to be honest. I'll try and ping some people on the Ember.js team to see what's the schedule for that.

[2016-12-09 16:23] #120 closed

[2016-12-14 22:45] scottwernervt opened #122 "vendor.css contains Pikaday CSS when excludePikadayAssets is true"
The Pikaday assets are not being excluded from `vendor.css` when `excludePikadayAssets: true`.

ember-pikaday = 2.2.0
pikaday = 1.4.0

**Repeat Issue**
1. Set `excludePikadayAssets: true` in `ember-cli-build.js`

[code]

2. Open http://localhost:4200/assets/vendor.css (ember-app/dist/assets/vendor.css)
[code]

[2016-12-16 08:42] duizendnegen commented on #122
Yep, seems like the `excludePikadayAssets` is not being listened to. Welcoming a PR.

[2017-01-04 18:06] MikiDi commented on #106
I plan on sending a pull request for this :-)
While looking into the code I asked myself the purpose of lines [147](https://github.com/edgycircle/ember-pikaday/blob/7f154c58fa0876b56ff563d6cbf2b788f0c27b05/addon/mixins/pikaday.js#L147)-[159](https://github.com/edgycircle/ember-pikaday/blob/7f154c58fa0876b56ff563d6cbf2b788f0c27b05/addon/mixins/pikaday.js#L159) in [mixins/pikaday.js](https://github.

[2017-01-06 11:02] duizendnegen commented on #106
I'm traveling until January 16th, will review after. Just from the top of
mind: it could be that these empty functions are extension points and
public API, but not sure

On Wed, 4 Jan 2017, 18:06 MikiDi, <notifications@github.com> wrote:

[2017-01-16 19:44] nickschot opened #123 "Initializer example throws a deprecation"
Current version of the initializer shown in the README throws a deprecation in (at least) Ember 2.10+.

[code]

[2017-01-17 15:37] duizendnegen commented on #123
Good catch - welcoming a PR :)

[2017-01-17 15:38] nickschot commented on #123
I'd have to look into how to fix this. I'm not really familiar with intializers/injection. I might be able to look into this later this week.

[2017-01-17 15:41] duizendnegen commented on #123
It _should_ be merely registering it on the application, not in any container or so. Have a look at http://emberjs.com/deprecations/v2.x/#toc_initializer-arity.

[2017-01-17 17:33] plicjo opened #124 "Interactor causes tests to repeat indefinitely"
When I use this line from the README:

[code]

My Qunit tests repeat indefinitely.

When I use `this`, as opposed to `Ember`, my tests run just fine.

[code]

[2017-01-21 13:51] nickschot commented on #123
Indeed, registering it on the application and removing the container argument fixes it 👍. I'll make a PR.

[2017-01-21 14:37] #123 closed

[2017-01-26 08:33] ykaragol opened #126 "Use npm dependency instead of bower dependency for pikaday.js"
Ember.js's design for nested addons are a bit weird. Instead of using `dependency` hash of the `package.json`, it relies on addons' default blueprints to put dependencies to the project.

If dependencies are managed by npm, there would be no need to default blueprint. I can send a pr for this if you accept it, also by including #122.

**EDIT:** I'm using 1.1.0 version. I've just seen that the code

[2017-01-26 08:58] #126 closed

[2017-01-27 01:49] jeffrey008 commented on #89
@splattne Thanks for your solution. It works for me, but I am quite confused about what's happening there. AFAIK, `value=someDate` will set the default value of pikaday to `someDay`. When user selected a day,  `mut someDate` will allow pikaday to modify `someDay` defined in the Controller.  But how does it know what value should it change to?

Also I tried
`{{pikaday-input value=someDate onSelecti

[2017-01-28 01:22] benoror opened #127 "Using interactor in Integration tests"
Using interactor in Integration tests results in this error:

[code]

This is the line in question: https://github.com/edgycircle/ember-pikaday/blob/fb16c12891179891d410ffff75c039bcaa9f37ea/addon/helpers/pikaday.js#L48

Could this be caused due to (`Ember.`)`$` selector working at the component's scope level, in integration tests?

[2017-01-28 20:58] duizendnegen commented on #127
What version are you on? Would it be possible for you to cross-check between Ember versions?

[2017-01-28 21:02] duizendnegen commented on #124
This could be because destroying Pikaday might not remove the picker - would you have some time to investigate?

Intuitively I'd say that `Ember.$` finds all matching elements in the entire DOM, and `this.$` doesn't - but _indefinitely_ is a bit different than I'd have expected.

[2017-01-28 21:41] benoror commented on #127
I am using the latest version `2.2.0`, it fails in all ember-try scenarios. I pushed a branch so you can see the errors in Travis CI:

https://travis-ci.org/benoror/ember-formly/builds/196219423

[2017-01-28 21:43] benoror commented on #127
the failing test: https://github.com/benoror/ember-formly/commit/4dc2ee659c15789488c57d444c4f954bc78e070f#diff-7ebef8b878a9e72976f90d3ee4b7ef9fR33

[2017-01-29 09:26] duizendnegen commented on #127
Thanks for the response - yep, definitely a bug. I've only been using these interactor in acceptance tests, but from and end-user perspective, it should work fine in integration tests as well.

I'll try and find some cycles to investigate, but don't let that stop you from digging in yourself instead :)

[2017-01-29 19:27] benoror commented on #127
Firstly I thought the issue was the `jquery` object (`$`) being scoped to the component's div, as I had the same issue with `ember-wormhole` & `ember-tether` stuff, where it couldn't find the DOM element in an injected outer div such as a modal, or a calendar in this case.

But then I paused on the caught exception and found that the calendar day's `td`'s are not rendered by the time the `$` selec

[2017-01-29 19:31] duizendnegen commented on #127
That's quite insightful - thanks for the pointer, appreciate it. I know my
acceptance test is sprinkled with andThen, separating the opening of the
picker and the clicking of an element

On Sun, 29 Jan 2017, 20:27 Ben Orozco, <notifications@github.com> wrote:

[2017-01-29 19:42] benoror commented on #127
Interesting, I just tried wrapping the `selectDate` and the `assert` into a [`wait` helper](https://guides.emberjs.com/v2.7.0/testing/testing-components/#toc_waiting-on-asynchronous-behavior), which is similar to `andThen` but for integration tests, but got the very same error

[code]

[2017-01-29 20:31] duizendnegen commented on #127
As a side-note, if you're not super dependant on Pikaday styling and interactions, https://github.com/cibernox/ember-power-calendar could be a good alternative (also looking at the goals of your project) :)

[2017-01-30 06:34] aswinm opened #128 "Cascading issue due to is-selected class"
In your css, there is a class

[code]

Here, since the definition is very general, if there is an `is-selected` class in any of the top level containers, this class is applied to all the date elements, like this:

![image](https://cloud.githubusercontent.com/assets/4959119/22414275/2d0a08ee-e6e4-11e6-9d4c-e4015535adb1.png)

This can be fixed by making the class definition a bit more precise.

[2017-01-30 09:44] duizendnegen commented on #128
Hi @aswinm - thanks for the report. This is actually not an issue of `ember-pikaday`, rather of `Pikaday` itself, which this library wraps.
Feel free to open an issue there.

[2017-01-30 09:44] #128 closed

[2017-01-30 10:42] aswinm commented on #128
@duizendnegen Thanks.. Raised an issue in Pikaday

 https://github.com/dbushell/Pikaday/issues/635

[2017-01-30 20:28] terrancebryant opened #129 "Readonly attribute"
When using the readonly attribute `ex: {{pikaday-input readonly="readonly"}}` you can still interact with the date picker, but it seems you can also change the date.  Is this the intended functionality or should we also prevent a date from being selected?

[2017-01-31 14:41] Mikeg542 opened #130 "Close inputless by clicking anywhere on page"
We have an inputless pikaday that starts hidden and shows on a click of a button. We are trying to figure out why clicking outside of the calendar is not hiding it as that appears to be a pikaday default feature.

If it is not, is there a way to send the pikaday object to a listener function and have it hide onClick ourselves?

[2017-01-31 16:59] duizendnegen commented on #130
This is surprising to me - it should work by default, like Pikaday. Are you sure there's no other CSS layer overlaying this? If so, could you reproduce this in an empty repo?

[2017-01-31 17:01] duizendnegen commented on #129
This is intended behavior, preventing direct changes on the input, but not the date selection itself. I must admit that `readonly="readonly"` is slightly confusing here.

[2017-01-31 17:01] #129 closed

[2017-01-31 17:22] Mikeg542 commented on #130
It's pretty integrated with some proprietary stuff, so I'm limited in replicating. It is currently set up like so:

`<a href="#" {{action 'showDates'}} id="test">
    <h3>Availability <i class="fa fa-calendar-check-o" aria-hidden="true"></i></h3>
    <h4>(SHOW FORMATTED DATE STUFF)</h4>
    {{#if datePicker}}
        <div class="date-picker" id="menu" {{action 'dropDown'}}>
            {{pikaday-i

[2017-01-31 18:37] Mikeg542 commented on #130
We did manage to find a solution with jQuery, but if we could get the default functionality working it would be preferable!

[2017-01-31 19:18] duizendnegen commented on #130
I'm still not 100% convinced it's a bug on our side (it might be! but this is not the way I use it myself & I can't say) so I'd suggest to get a clean repo (an Ember project just with `ember-pikaday`) and see what happens there, then optionally submit a PR with a fix

Thanks!

[2017-02-15 16:06] vashchenkov opened #132 "Value in model object doesn't changed"
I try to use pickaday-input over the model object but it doesn't change property of model object. I can change the value only by using action.
`{{pikaday-input value=model.startDate format='DD.MM.YYYY' useUTC=true onSelection=(action 'updateStartDate')}}`

Update another property of the model working fine
`{{input type="checkbox" name="published" checked=model.published}}`

May be I do something w

[2017-02-15 16:44] duizendnegen commented on #132
Hm, surprising, to be honest. I've had some issues with `useUTC` before, can you verify that the same behavior is happening without?

If it does, could you replicate it in a small demo application? I looked through my applications and everywhere use `value=checkin`,  not a deeper reference, having aliases these elements.

[2017-02-15 16:55] vashchenkov commented on #132
Thanks for quick answer.
No it doesn't work. Even I if remove useUTC=true.
I try to do small application with mirage tommorow

[2017-02-16 18:52] vashchenkov commented on #132
Here is my repo with simple app
https://github.com/vashchenkov/ember-test-app
To check what is happens open th e url http://localhost:4200/news/50 or http://localhost:4200/news/200
There are data for this news. With ember chrome extention You can see then neither startDate and finishDate doesn't change.

[2017-02-17 15:05] ahmetemrekilinc opened #133 "Date can still be changed in readonly mode"
If readonly is set true, the input text cannot be changed, however onclick date can still be changed.

[2017-02-17 15:11] duizendnegen commented on #133
This is as designed - it merely passes on the attribute. I'd be welcoming a
PR for docs clarification and/or for a bound 'disabled' attribute - ideally
named so that it doesn't conflict with existing HTML attributes.

On Fri, 17 Feb 2017, 16:05 Ahmet Emre Kılınç, <notifications@github.com>
wrote:

[2017-02-19 16:38] falkon commented on #132
I, too, does not change property of model object.

[2017-02-21 04:56] vashchenkov commented on #132
I found somthing strange. I try to create component for interval date filter
interval-filter.hbs:

    {{pikaday-input value=startDate format='DD.MM.YYYY' onSelection=(action 'updateStartDate')}} - {{pikaday-input value=finishDate format='DD.MM.YYYY'}}

interval-filter.js

    import Ember from "ember";

    export default Ember.Component.extend({
	didReceiveAttrs() {
		this._super(...arguments);

[2017-02-22 05:21] Aaronfischer commented on #132
I'm having the same issue with 2.2.1 and 2.2.0, `{{pikaday-input value=model.publishedAt format="MM-DD-YYYY"}}` does not update the model property...

[2017-02-23 14:11] luxferresum opened #134 "If yearRange is set inserting a two-digit year should not guess a date outside that range"
When the date `1.1.56` is entered, and the yearRange is `1900,currentYear`, it should not guess `2056` but `1956`,

[2017-02-26 14:22] FenzaFenz commented on #132
Same issue,
Ember      : 2.10.2
Ember Data : 2.11.0

[2017-03-03 18:28] duizendnegen commented on #132
As I have no active projects with this dependency anymore, I probably won't be getting to it anytime soon. Welcoming a PR which fixes this.

[2017-03-09 13:36] Ahmad-Sobhani opened #135 "change datepicker to persian datepicker"
Hi every body.
How i can change date to date picker?? pls help me. i need it. tanx.

[2017-03-09 19:52] duizendnegen commented on #135
Have you tried looking at Pikaday?
I am afraid I don't quite understand your question...

[2017-03-09 21:36] iirving opened #136 "Uncaught Error: infinite rendering invalidation detected, with ember-pikaday 2.2.1"
with     "ember-pikaday": "2.2.1" and
Ember             : 2.11.2
Ember Data        : 2.11.3
jQuery            : 3.1.1

getting the "infinite rendering invalidation detected" error (and the web paper going blank) when 'opening' the component and selecting the minDate (which is the current date).

work around : reverting back to the ember-pikaday": "2.2.0" corrected the bad behavior

  {{pikaday-inp

[2017-03-10 08:33] Ahmad-Sobhani commented on #135
yes. i can't find persian date mode in  pikaday :(
i need a persian datepicker in emberjs but doesnt exist.

[2017-03-10 12:31] stravid commented on #135
@Ahmad-Sobhani are you looking for localization? You can read about it in the readme: https://github.com/edgycircle/ember-pikaday#localization

[2017-03-10 13:04] Ahmad-Sobhani commented on #135
No, I'm looking for a persian(jalali) date picker.

[2017-03-11 20:10] duizendnegen commented on #135
Sorry, this is not the right project for doing so. I would advise either of two things:

1. try and fork the Pikaday project and adapt the year / date selection function.
2. adapt https://github.com/cibernox/ember-power-calendar, again the year / date selection function.

The biggest trouble is that sourcing the actual information is from the Javascript date-function and I am not aware of Persian

[2017-03-11 20:10] #135 closed

[2017-03-12 18:56] duizendnegen commented on #136
Could you verify whether this is also the case with 2.2.0? I have some suspicions about what's going on but just want to verify.

[2017-03-13 19:53] iirving commented on #136
no problems with ember-pikaday 2.2.0

[2017-03-15 23:32] jasimon opened #138 "minDate destructively modified"
Pikaday destructively modifies `minDate` and `maxDate` https://github.com/dbushell/Pikaday/blob/f638599490a7cd4144700625bef0b8463a33b06f/pikaday.js#L127

This is an issue if for things with a start and end date, where the start date is used as the min for the end date, or vice versa.  E.g.
`{{pikaday-input value=endDate minDate=startDate}}`
If you care about the start time pikaday will clear it ou

[2017-03-16 10:55] urbany opened #139 "DEPRECATION: didUpdateAttrs | ember 2.12.0"
Hi, ember-source@2.12.0 shows this warning:

[2017-03-17 12:34] jedrula commented on #136
I think this is what happens:
problem is:
1. component is rendered with minDate set to new Date() which is the current time with hours, minutes …
[code]
2. user clicks on input and chooses the edge minDate from the calendar
3. mut helper updates date to the beginning of the chosen day (this is what is returned from the pikaday)
4. didUpdateAttrs fire - the muted value is also passed in as a value

[2017-03-17 12:39] jedrula commented on #136
I think the comparison needs to be changed to:
`if (value && moment(value).isBefore(minDate, 'day')) {`

[2017-03-20 19:45] duizendnegen commented on #138
Welcoming a PR for this.

[2017-03-20 19:45] duizendnegen commented on #139
Welcoming a PR for this.

[2017-03-20 19:46] #136 closed

[2017-03-20 19:47] duizendnegen commented on #134
This is most likely to be on the domain of `Pikaday`, not `ember-pikaday`. Closing, feel free to re-open if I'm wrong.

[2017-03-20 19:47] #134 closed

[2017-03-20 19:48] duizendnegen commented on #139
Actually, this was already solved in https://github.com/edgycircle/ember-pikaday/pull/137

[2017-03-20 19:48] #139 closed

[2017-03-21 11:19] urbany commented on #139
@duizendnegen great, can you release this version?

Thanks in advance!

[2017-03-21 11:49] duizendnegen commented on #139
Working on it :)

[2017-03-29 07:41] mariowilde opened #141 "Uncaught Error: infinite rendering invalidation detected, with ember-pikaday 2.2.2"
On ember 2.12 ember-pikaday 2.2.2 still causes the infinite rendering invalidation that first appeared in version 2.2.1. Downgrading to 2.2.0 resolves the issue.
Seems like #140 did not fix the error.

[2017-03-29 09:10] duizendnegen commented on #141
Welcoming another PR

[2017-04-04 19:54] HuggableSquare commented on #132
From what I can tell, this functionality was changed in 2.x, here's the commit where it happened: https://github.com/edgycircle/ember-pikaday/commit/2d8cf80239488b92de58adf9a7b436b621f5391b.

I guess in 2.x we're supposed to use the `onSelection` action instead of binding. 🙁

[2017-04-21 11:41] #138 closed

[2017-05-03 13:01] milestinsley commented on #132
The `ember-pikaday` component has moved to a "data down, actions up" approach, consistent with the general direction in which Ember components are going.

Therefore, after upgrading to 2.x, you need to set both the `value` argument and pass in some kind of action. So, now, `value` sets the date shown in the component ("data down") and the `onSelection` action fires when a date is selected ("action

[2017-05-08 16:29] bttf commented on #85
We're experiencing this as a pain point when we try to open the pikaday input by using the `click()` event. After `click()` fires, pikaday will not only open but fire the `onSelection` event w/ `null`, causing our dependent computed properties to break. We need to be able to click the pikaday to open it w/out onSelection firing at the same time

[2017-05-26 16:28] corrspt commented on #141
In case anyone get's here, I had a situation where I was using a "maxDate" in ember-pikaday and when the user selected that day it would blow up with this error. To work-around it I did the following:

`template.hbs`
[code]

`components.js`
[code]

By setting the currentDate to the end of the day (23:59:59) it seems that whatever is triggering the error does not happen.

[2017-05-27 12:57] tsteuwer opened #147 "Deprecation Warning: didUpdateAttrs will stop receiving arguments"
https://emberjs.com/deprecations/v2.x/#toc_arguments-in-component-lifecycle-hooks

[code]

[2017-05-27 13:02] duizendnegen commented on #147
Welcoming a PR :)

[2017-05-27 13:03] tsteuwer commented on #147
@duizendnegen looking into it ;)

[2017-05-27 13:31] tsteuwer commented on #147
@duizendnegen done and done!

[2017-05-27 14:07] #147 closed

[2017-06-06 18:00] jdhines opened #151 "In IE11, picking a date sets the value to the day before"
Everything works fine in Chrome, but in IE, as soon as you click a day, or if entering the day manually, say "5/6/2017" and tabbing to the next field, the day becomes the previous day. I'm using the `useUTC=true` prop, which fixed this issue upon saving to the backend in Chrome, but in IE, this is happening as soon as a day is selected, so I don't know what's going on or how to correct it.

[2017-06-08 16:27] duizendnegen commented on #151
Welcoming a PR, the problem comes from UTC and non-UTC to use different methods. We need to normalise this.

See https://github.com/edgycircle/ember-pikaday/blob/master/addon/mixins/pikaday.js#L106

Could be combined with #106

[2017-06-09 18:35] TSchnaars commented on #151
This is also not working for me in Safari.

[2017-06-09 19:55] jdhines commented on #151
I don't know how I'd change ember-pikaday to solve this, so I'm not the one to do a PR, but I did solve this in my project by adding a computed field in my model, using that field in my template, and saving that computed field to the actual field when saving the model. Seems like a lot of work to me, but it's not all this add-in's fault; I don't understand why dates are so difficult to do right in

[2017-06-13 16:22] remithomas opened #154 "minDate and maxDate couldn't be nullable"
`minDate` and `maxDate` couldn't be nullable, this introduces a wrong use. You couldn't change the value of your `minDate` from value to null. It will keep your previous date.

Here is the problem:
https://github.com/edgycircle/ember-pikaday/blob/075e023e2f3c5cfb554cb6c508dfba196067a66c/addon/mixins/pikaday.js#L125

[2017-06-16 08:23] duizendnegen commented on #154
Welcoming a PR

[2017-06-25 21:30] simonihmig opened #155 "Fix breaking changes in FastBoot 1.0"
The current `ember-cli-fastboot` releases (1.0.0-rc.1 and above) introduce breaking changes. These will most likely break your current FastBoot implementation.

See https://github.com/ember-fastboot/ember-cli-fastboot/issues/387 for more information and a guide on how to fix your addon. Also you may want to visit the `-fastboot` Slack channel to get help from other users.

*Note: this issue has be

[2017-06-29 18:43] tsteuwer opened #156 "Deprecation warning: value provided is not in a recognized RFC2822 or ISO format"
[code]

This issue happens due to: https://github.com/edgycircle/ember-pikaday/blob/master/addon/mixins/pikaday.js#L121

We should use the `format` value that's passed in as a value *if* set. Or, we should start requiring people specify a format since this functionality will eventually be removed if not in RFC2822 or ISO date format.

[2017-07-01 07:00] #155 closed

[2017-07-07 00:38] plicjo commented on #124
I wouldn't know how to begin investigating this. Thank you for your time.

[2017-07-07 00:38] #124 closed

[2017-07-17 07:13] Prabhakar-Poudel opened #158 "Date changed programmatically is not updated"
I have a modal that shows start and end of events. The start/end time can be altered using the datepicker.
However, if there are bunch of events for different dates, and user opens the modal by clicking at them the dates are not shown correctly.

Suppose, if we have following events:

[code]
Note: dates are converted to the required form before updating the `value` attributes of datepickers.

So,

[2017-07-24 17:41] mergemeynard opened #159 "Can't get selectedDate outside of onSelection"
Hello. I would like to ask if I could take out the value of `date` from this:

`onSelection: function(date) {
     return date;
}`

And then set it to a property of a controller or component into something like this:

`
this.set('selectedDate', date);
`

Here's a stack overflow link that I made that is related to this problem.
https://stackoverflow.com/questions/45277430/cant-access-date-in-ember-

[2017-07-24 18:08] duizendnegen commented on #159
Hello, you need to either place `onSelection` inside your `action` hash or use `onSelection=(action onSelection)`. The behavior that you describe is covered for in this addon.

[2017-07-24 18:08] #159 closed

[2017-07-24 18:23] mergemeynard commented on #159
Hello. It gives me this error `ember.debug.js:2532 Uncaught TypeError: Cannot read property 'setAttribute' of undefined`

when I do that `onSelection=(action 'onSelection')` thing. Do you have like a method where we can get the `userSelectedDate` value? Thanks.

[2017-07-25 00:51] meymeynard commented on #159
Ah just a follow up, can you show me how to do that using EmblemJS? That's what we use for templating.

[2017-07-25 06:46] duizendnegen commented on #159
The `onSelection` action is the right action to use to get the date selected by the user.

[2017-07-25 08:55] Prabhakar-Poudel commented on #158
I found the source of this problem. And fix for it.
My `minDate` and `maxDate` were also programmaticlly updated, just before the modal showed up.
The problem was it was picking the previous vlues of `min` and `max` causing it to force dates to max and min of those set previously. Also, making the illusion of rendering previous values.
I tried putting null values for min and max when I'm done with

[2017-07-25 08:56] Prabhakar-Poudel commented on #158
Although it would be nice if `ember/pikaday` would allow to set `null` values to min and max attributes.
Basically clearing those boundaries.

[2017-07-25 08:57] #158 closed

[2017-07-28 20:59] jdurand opened #160 "Pikaday conflicts with Fastclick (tap on month change closes calendar)"
I'm not sure where exactly this discussion should take place, but I want to share my dirty fix for other `ember-pikaday` + `ember-cli-fastclick` developers, so it doesn't feel like the wrong place.

It seems like Pikaday and Fastclick are fighting for event handlers causing an issue on touch devices where the calendar closes after taping on next-month, prev-month, year select etc.

The Fastclick w

[2017-07-29 06:31] rizkysyazuli opened #161 "_moment2.default.utc is not a function"
I got this error when setting `useUTC=true`. might be related, in the component where i use ember-pikaday, i've also have [ember-moment](https://github.com/stefanpenner/ember-moment).

[2017-07-29 07:31] rizkysyazuli opened #162 "Setting value to DD/MM/YYYY does not work"
My model returns data in dd/mm/yyyy format. Passing this value of ember-pikaday does not work and the input is blank.

    {{pikaday-input firstDay=0 format="DD/MM/YYYY" yearRange="2010,currentYear" name="child_dob[]" id=(concat 'child_dob-' index) value=child.dob placeholder="hh/bb/tttt"}}

The `child.dob` value looks something like this `18/07/2017`. I even try to put a static value in there and

[2017-07-29 15:14] duizendnegen commented on #160
Oof... thanks for sharing this. I'm going to close the issue as this is not something I think this plugin should support (I think this is specific per project, or if not, in the Fastclick or Pikaday library itself), but I appreciate you posting your workaround for future devs!

[2017-07-29 15:14] #160 closed

[2017-07-29 15:17] duizendnegen commented on #161
Could you replicate this in https://ember-twiddle.com/?

[2017-07-29 15:17] duizendnegen commented on #162
Could you replicate this in https://ember-twiddle.com/?

[2017-07-31 06:00] mergemeynard commented on #117
Hello. Is there any progress on this? thanks!

[2017-07-31 06:56] mergemeynard opened #163 "Is it possible to put a marker on the days in the calendar or any customizations?"
like have a blue round dot on the days and change the highlighted colour on when a date is selected and when you hover over those days. thanks

[2017-07-31 12:11] duizendnegen commented on #163
Wrong repo, check out https://github.com/dbushell/Pikaday

[2017-07-31 12:11] #163 closed

[2017-08-23 18:37] rsoo opened #166 "Keyboard Input triggers `onSelection` action"
When pikaday input is open and a user uses a keyboard input (`up`, `down`, `left`, `right` arrow), it triggers the onSelection action even if no date has been selected via `enter`

[2017-09-18 05:41] gabrielle-ong commented on #141
+1 for this, downgrading to 2.2.0 resolves this error for me. This only occured for users whose timezone is behind UTC time, regardless if I set `useUTC=true`. Details:
[code]
[code]

[2017-09-19 07:02] duizendnegen commented on #141
Welcoming a PR :)

[2017-09-25 20:04] jakenewby commented on #166
confirmed.. happening to me as well

[2017-09-28 16:21] devotox commented on #162
This is definitely the case. It switches to american values

[2017-10-26 11:36] evadelnuevo commented on #59
Was this functionality implemented?

[2017-11-26 20:32] #117 closed

[2017-12-01 08:58] abueloshika opened #168 "Selecting days 1-11 of the month changes the format in the display field from DD/MM/YYYY to MM/DD/YYYY"
`<div class="col-sm-3"><label>Date From:</label>{{pikaday-input locale=en value=dateFrom  format='DD/MM/YYYY' class="form-control" name="dateFrom" onSelection=(action 'onChangeDateFrom') }}</div>
`
In the date field using the above code, if a user selects a date between the 1st and 11th of the month the format of the date in the displpay field reverts from DD/MM/YYYY to MM/DD/YYYY. The date picker

[2018-01-10 21:07] mdcoopir opened #170 "Accessibility ARIA support"
We are trying to make the widget accessible by adding the aria-hiddden=true attribute to the div container for the calendar.  That way the screen readers will not read the dropdown calendar, which would confuse people. It would only read the input field. Can we add this functionality to ember pikday.

Thanks,

Mark

[2018-01-10 21:27] Ritthjp commented on #170
Yes agreed.  Needs to be accessible.

[2018-01-11 07:56] duizendnegen commented on #170
I'm not sure this needs to take place on `ember-pikaday`, this fits best on https://github.com/dbushell/Pikaday - that one actually draws the div.

[2018-01-11 07:56] #170 closed

[2018-01-14 08:06] richipargo opened #172 "Update dependency Checker"
DEPRECATION: An addon is trying to access project.nodeModulesPath.
https://github.com/offirgolan/ember-burger-menu/pull/102

[2018-01-26 20:41] steveszc opened #175 "Update ember-cli-babel"
The ember-cli-babel dependency should be updated to the latest version to allow consuming apps to drop ember-cli-shims as a dependency of ember 2.16+ apps.
https://www.emberjs.com/blog/2017/11/20/ember-2-17-released.html#toc_changes-in-ember-cli-2-17

[2018-01-26 20:42] duizendnegen commented on #175
Welcoming a PR which had been tested to work :)

[2018-02-01 14:32] ctjhoa commented on #122
From a quick investigation.
This commit ea20a4fbe4480ea98c804974e09a63e32e222b21 broke this `excludePikadayAssets` option.

It should be possible to reintegrate this option using [ember-cli-node-assets dynamic configuration]https://github.com/dfreeman/ember-cli-node-assets#dynamic-configuration

[2018-02-01 15:09] thiberaw commented on #162
Ok, I figured out why.
You're passing `18/07/2017` as value, but the addon can't know that your date is already `DD/MM/YYYY` formated so the switch is applied.
If you pass `07/18/2017` (en) as value and the `DD/MM/YYYY` you'll get the date you were looking for.

[2018-02-01 15:10] thiberaw commented on #168
check my comment in https://github.com/edgycircle/ember-pikaday/issues/162

[2018-02-01 15:15] thiberaw commented on #162
if you do `moment('18-07-2018').format('DD-MM-YYYY')` you'll get `07-18-2018`

[2018-02-05 09:45] abueloshika commented on #168
Thank you for your response but I'm not quite sure how I can implement your recommendation in the above. I don;t have a fixed value I can pass in the moment(value) section because this is happening immediately when a user clicks into the date field.

Are you able to provide any advice on implementing your solution to the helper code in the OP?

[2018-03-14 00:30] esbanarango opened #179 "Could not find module `moment`"
<img width="930" alt="ember_model_validator" src="https://user-images.githubusercontent.com/1156865/37376946-2fbaa6ac-26e4-11e8-9941-e975543e0e11.png">

[2018-03-28 18:18] TSchnaars opened #181 "maxDate.getTime is not a function when using maxDate"
Hello,

Perhaps I have the wrong time format, when I try and use  the `maxDate` flag I receive the following error:
![screen shot 2018-03-28 at 12 52 24 pm](https://user-images.githubusercontent.com/10532203/38048021-375dda64-3292-11e8-81c5-064b7c30da0d.png)
The top date and time is the format I am entering into the maxDate field and the number below is when I do a `new Date(time).getTime()`, so t

[2018-03-28 18:38] TSchnaars commented on #181
Oh, nm.  I figured it out.  An instance of `Date()`.  Can you update in the docs?

[2018-03-28 18:38] #181 closed

[2018-05-17 05:14] jrjohnson commented on #175
I think this is resolved, just needs a release.

[2018-05-18 12:57] mdcoopir commented on #175
When will this be released?

[2018-05-26 01:49] JonForest opened #186 "DEPRECATION: Scheduling into the 'sync' run loop queue is deprecated."
On Ember 3.1 (and probably 3) when trying to set a date I received
[code]

There's a couple of instances in `addon/mixins/pikaday.js`
I _think_ the correct solution is to instead run
[code]

[2018-06-13 15:30] belgoros opened #187 "Globally set locale does not change months names (still in English)"
I followed the [ember-i18n steps](https://github.com/jamesarosen/ember-i18n/wiki/Doc:-Setting-the-Locale) to set up a locale globally as well for `moment` service:
[code]
When I created an initializer as suggested in your [README#Localization](https://github.com/edgycircle/ember-pikaday/blob/master/README.md#localization) section, it still has no effect:
[code]
Months are still displayed in Englis

[2018-06-18 22:55] IAmJulianAcosta commented on #166
You just need to update to `2.2.4` and pass that parameter:

[code]

[2018-07-08 18:01] ddengler commented on #132
i guess this can be closed? setting with onSelection works as expected

[2018-07-17 12:50] andrew-paterson opened #191 "Pikaday close event confuses ember basic dropdown"
I'm not sure if this belongs here, as this is more a conflict with another addon than a pikaday specific problem.
If a pikaday component is inside the content of an `ember-basic-dropdown` component, the dropdown closes as soon as a date is clicked. It seems that the close event for the pikaday calendar is bubbling up tothe dropdown.

[code]

I have tried it with a more simple popout and it works c

[2018-07-18 07:32] belgoros commented on #187
It works if I put the initializer in `instance-initializers` directory and NOT in `initializer`as explained in [Localization](https://github.com/edgycircle/ember-pikaday#localization) section of README.

[2018-07-24 20:04] alexlafroscia commented on #175
Since it's unclear if/when `master` will be cut into a new release, I published a fork at `@alexlafroscia/ember-pikaday` from the current `master` branch (commit e367b56a242fd1cafb1940788bcac2308b31fa53)

[2018-07-28 05:54] krishanjangir commented on #156
Below works for me to remove RFC2822 warnings

Use moment(String, FormatString) to convert string to date.

 var newDt = Moment(this.state.dob,"MM/DD/YY")
And below code from date to String

var dt = Moment(newDt).format("YYYY-MM-DD")
By this way it will not show warning messages.

[2018-08-04 21:12] talha08 commented on #156
use like this
` Moment(new Date(date)).format('MM/DD/YYYY')`

[2018-08-22 13:37] Frozenfire92 commented on #175
note that deprecation warnings will appear when on a newer version of ember (3.3)

[code]

[2018-08-29 12:54] sevab commented on #127
Hi @benoror, getting same error in my integration tests.
Did you manage to find a workaround?

[2018-08-29 14:13] benoror commented on #127
@sevab nope, still pending to test: https://github.com/benoror/ember-formly/issues/8

I haven't upgraded it tho, is it still an issue in newer versions?

[2018-08-29 14:37] sevab commented on #127
@benoror, yep getting same issue in `v2.2.4`. But will probably migrate to `ember-power-calendar` as advised.

[2018-09-07 13:03] scottkidder opened #194 "Release"
It's been quite some time since a release, can we get one cut shortly?

[2018-09-07 15:11] cah-danmonroe commented on #194
I could help as well

[2018-09-07 15:25] cah-danmonroe opened #195 "Up for adoption?"
When an original owner no longer has time to maintain the addon, there is a place where the addon can be "put up for adoption."  Melanie Sumner has created [adopted-ember-addons](https://github.com/adopted-ember-addons).

Would you consider allowing us to adopt ember-pikaday so that the addon may continue to provide useful service to the community?

[2018-09-11 21:39] jrjohnson commented on #175
This is going to become critical as ember-cli 3.4 seems to drop support for addons which have not updated in https://github.com/ember-cli/ember-cli/pull/7774#issuecomment-384677373

[2018-09-12 15:12] papakay opened #196 "Uncaught Error: Cannot find module 'pos/components/pikaday-input"
Please i'm having issue getting this to work with Ember 3.4.0

I got this error

```Uncaught Error: Cannot find module 'spentary-rxstore/components/pikaday-input```

[2018-09-22 20:18] jrjohnson commented on #195
If you're in a place to take up maintenance for this package take a look at https://www.npmjs.com/policies/disputes
NPM has a clear process for adopting an abandoned package.

[2018-09-22 21:03] ChristopherJohnson25 opened #197 "Disable Days in the Past"
Is there a simple way to disable past days on the calendar select? Example..I don't want the user to be able to select September 21st, 2018 or anything before.

[2018-09-23 02:40] #197 closed

[2018-09-24 13:31] jonnii commented on #175
@alexlafroscia thank you for publishing a new release, it's taking the pressure off.

[2018-09-24 15:42] jrjohnson commented on #175
@alexlafroscia If you're up for maintaining this package take a look at https://www.npmjs.com/policies/disputes
NPM has a clear process for adopting an abandoned package and making your fork official.

[2018-09-26 15:27] scottkidder commented on #195
Hi @stravid would you be willing to let us adopt this addon? It's a great addon and I think we have more than enough interest that we will have no trouble maintaining this as a community effort.

[2018-09-27 10:40] jonnii commented on #195
I think adding a few contributors to the project and giving them the ability to publish to NPM would be fine in this case, there's no reason to transfer ownership of the repo in my opinion. This is your project so you maybe have a feel for who would be a good steward for the project going forward, if not I'm happy to volunteer to help coordinate.

[2018-09-27 17:36] alexlafroscia commented on #175
Maybe we can do this more formally, if people are interested in that. I don't mind taking over maintenance duties, but maybe we can transfer ownership to https://github.com/adopted-ember-addons and do something on the NPM side to allow a group of people to publish updates from that repo.

@edgycircle would that be OK with you?

[2018-09-27 17:57] jrjohnson commented on #175
@alexlafroscia can you volunteer over in #195

[2018-09-27 18:00] alexlafroscia commented on #175
I'll join that conversation, thanks @jrjohnson!

[2018-09-27 18:12] alexlafroscia commented on #195
My proposal for the add-on's maintenance:

- Transfer over to the [Adopted Addons](https://github.com/adopted-ember-addons) organization, so that no individual or company is specifically responsible going forward (I have the permissions required to fork from here into that org)
- Transfer the NPM ownership to the `adopted-ember-addons` organization and manage read/write access from there

If peopl

[2018-09-27 18:44] jonnii commented on #195
@alexlafroscia I think that's the best solution.

[2018-09-28 01:04] AdminDev826 commented on #194
Getting the warning:
`DEPRECATION: ember-cli-babel 5.x has been deprecated. Please upgrade to at least ember-cli-babel 6.6. Version 5.2.8 located: bai-ui -> ember-pikaday -> ember-cli-babel
`
"ember-pikaday": "^2.2.4"

[2018-09-28 13:21] #194 closed

[2018-09-28 14:21] AdminDev826 opened #198 "DEPRECATION: ember-cli-babel 5.x has been deprecated."
Getting the warning:
DEPRECATION: ember-cli-babel 5.x has been deprecated. Please upgrade to at least ember-cli-babel 6.6. Version 5.2.8 located: bai-ui -> ember-pikaday -> ember-cli-babel
"ember-pikaday": "^2.2.4"
"ember-cli": "^3.1.4"

[2018-09-28 15:39] stravid commented on #195
@alexlafroscia thank you for the detailed proposal. We discussed this internally and got the green light to push this forward as you outlined.

I just invited you as an admin so you can transfer the repository.

Regarding npm I'm not sure how to do that. Do I add you as a maintainer? (If yes, what is your username?)

[2018-09-28 15:41] jrjohnson commented on #198
Duplicate of #175

[2018-09-28 17:03] alexlafroscia commented on #195
Awesome, I'll get started on that!

On the NPM front, this is my first time trying to transfer a package to an organization, so I'm not 100% sure. I _think_ this might do the trick:

[code]

Instead of manually managing maintainers, the plan is to manage read/write access through the organization.

[2018-09-28 17:04] alexlafroscia commented on #195
Transfer complete!

[2018-09-28 17:45] stravid commented on #195
@alexlafroscia I added you on NPM as a maintainer. The command did not do what we want it to do since `adopted-ember-addons` is not a user. (According to the NPM CLI.)

[2018-09-28 18:51] alexlafroscia commented on #195
Gotcha. I'll figure out how it works with organizations.

Thanks so much for your help here @stravid!

[2018-09-28 18:54] #195 closed

[2018-09-28 18:57] alexlafroscia commented on #198
Closing because it's a duplicate. I will publish a fix for this to NPM soon!

[2018-09-28 18:57] #198 closed

[2018-09-28 19:48] scottkidder commented on #195
@alexlafroscia I'd like to be part of this repo, and maybe even `adopted-ember-addons` (I have a few other candidates I've been waiting on). Thanks to @stravid, @alexlafroscia and everyone else for improving the community!

[2018-09-28 22:59] alexlafroscia commented on #195
@scottkidder excellent! I added you as a collaborator on the repo and will also give you the appropriate NPM privileges to publish releases

[2018-09-29 20:32] alexlafroscia commented on #175
Okay, seeing as I just released a _real_ version of `2.2.5` on the official `ember-pikaday` package, I'm going to close this.

If you've using my fork at `@alexlafroscia/ember-pikaday`, please move back to the original `ember-pikaday`. The `2.2.5` package is identical to my fork's `2.2.5`.

[2018-09-29 20:32] #175 closed

[2018-09-29 22:42] #179 closed

[2018-09-29 23:01] alexlafroscia commented on #196
Are you still seeing this issue?

If so, can you tell me what version of the `ember-cli` you are using?

[2018-09-29 23:05] alexlafroscia commented on #109
@duizendnegen do you still think it's worth keeping this issue open?

I, for one, don't foresee removing `Pikaday.js` and the addon seems to strip the files correctly for FastBoot.

Let's discuss and re-open if there's actually more to do here.

[2018-09-29 23:05] #109 closed

[2018-09-30 18:06] papakay commented on #196
I'm using Ember cli 3.3.0. I've decided to go for another option (Ember Flatpickr)

Thanks.

[2018-10-01 11:50] scottkidder opened #201 "Setup CircleCI or Travis"
I'll be happy to set this up, but is there a consensus on what service we might prefer?

[2018-10-01 11:52] scottkidder commented on #191
@andrew-paterson Can you put together a twiddle?

[2018-10-01 13:05] asjongers commented on #191
Hmmm, I've never used ember-basic-dropdown but it could be that it detects any click outside its DOM element and, as the date selector in pikaday-input is not rendered in place (from what I've seen at least), the close action of ember-basic-dropdown gets triggered.

I think the pikaday-inputless is rendered in place so it could be a good starting point to check if it is indeed the issue?

[2018-10-01 15:57] mhankus commented on #196
I've had the same issue, but 2.2.6 works fine.

[2018-10-01 19:06] alexlafroscia commented on #196
Interesting -- @papakay if you could check the `2.2.6` release as well (even though I know you've moved to a different addon instead) I would really appreciate it, just to see if this is something I still need to investigate.

[2018-10-01 19:20] #154 closed

[2018-10-01 19:42] alexlafroscia commented on #201
I think we should stick with Travis, seeing as that's the "default" for Ember apps (and an Ember app itself!)

I've been trying to dig into why CI seems broken, and your help would be greatly appreciated. For some reason I can't view the repo on travis-ci.com:

<img width="693" alt="screen shot 2018-10-01 at 12 19 06 pm" src="https://user-images.githubusercontent.com/1645881/46311515-51dcb900-c577

[2018-10-01 19:44] alexlafroscia commented on #201
I was able to manually trigger a build from `master`... I guess that's something of a start?

https://travis-ci.org/adopted-ember-addons/ember-pikaday/builds/435800682

[2018-10-01 20:15] alexlafroscia commented on #201
I _think_ the problem is just that travis-ci.org is still looking for events from the old repo to kick off builds automatically and such... I'm not sure what we can do about that, though.

[2018-10-01 20:31] cah-danmonroe commented on #186
Oustanding!

[2018-10-01 20:35] alexlafroscia commented on #186
Thanks for reporting this, sorry it took so long to address.

Released in `2.3.0` just now 🎉

[2018-10-01 20:36] alexlafroscia commented on #166
Seeing as there's a solution documented above, I'm going to close this.

Thanks for the fix, @IAmJulianAcosta !

[2018-10-01 20:37] #166 closed

[2018-10-01 20:39] alexlafroscia commented on #127
Can those having issues with the test helper check out the "new" (refactored) test helpers made available in `2.3.0`? They should not have issues with locating elements outside of the test container, and are build to be used with `async/await` to avoid issues around elements not being available before the picker is open.

[2018-10-01 20:40] alexlafroscia commented on #161
Going to close this until @rizkysyazuli responds with a reproduction

[2018-10-01 20:40] #161 closed

[2018-10-01 20:40] alexlafroscia commented on #130
Going to close this until @Mikeg542 responds with a reproduction

[2018-10-01 21:31] yagosenhorini opened #203 "Calendar always opens in the current month when I am in some previous month"
Hi there,
I have this problem:  My route always loads the current month normally, but when I select September month and update the page, the route will be September, but the calendar will open in October.
Is there a way to make the calendar opens in a month that I've selected before refreshing the page?

[2018-10-01 22:00] alexlafroscia opened #204 "Improve `minDate` and `maxDate` parsing"
Currently, it seems like `minDate` and `maxDate` both _must_ be `Date` objects, otherwise things blow up, because `getTime` is called on whatever is passed in

https://github.com/adopted-ember-addons/ember-pikaday/blob/4097041f439832102fb09840757ec85a10fb1b40/addon/mixins/pikaday.js#L146

https://github.com/adopted-ember-addons/ember-pikaday/blob/4097041f439832102fb09840757ec85a10fb1b40/addon/mixi

[2018-10-01 22:02] alexlafroscia commented on #203
Could this be a timezone-related issue? For example, maybe one is using UTC and the other is not, and the time zones are far apart enough that one thinks it is September but the other thinks it is October?

I ask because today is the first day of October; have you seen this issue on other days?

[2018-10-02 03:02] cah-danmonroe opened #205 "run ember-cl-update"
Placeholder while I run ember-cli-update

[2018-10-02 04:07] cah-danmonroe commented on #172
Fixed by PR https://github.com/adopted-ember-addons/ember-pikaday/pull/206

[2018-10-02 11:35] scottkidder commented on #201
Hmm, https://travis-ci.org/profile/adopted-ember-addons implies that adopted-ember-addons doesn't exist as an organization on travis. Maybe https://github.com/travis-ci/travis-ci/issues/6602#issuecomment-247029548 ?

[2018-10-02 13:15] yagosenhorini commented on #203
I don't think so, because before this issue happened, the calendar always opened in the selected month, and yesterday was the first day that it happened.
I'll see if the problem is the UTC standard on the route and in the component.
Thanks for this advice.
Is there a problem if I let this issue open?

[2018-10-02 17:36] alexlafroscia commented on #201
Why do you say that? I can access the page you linked to.

[2018-10-02 17:38] alexlafroscia commented on #203
Can you check today and see if the problem is still happening?

I ran into off-by-one issues yesterday myself due to the UTC/non-UTC issue with dates.

[2018-10-02 18:08] yagosenhorini commented on #203
Yes, I've checked this when I arrived at the work and the problem still happens.
I have no idea where the problem is in this case.

[2018-10-02 19:14] alexlafroscia commented on #203
Can you create a reproduction using [Ember Twiddle](https://ember-twiddle.com/)? That would be really helpful in diagnosing the problem.

[2018-10-02 19:14] #205 closed

[2018-10-02 20:33] alexlafroscia commented on #201
I contacted their support email to see if we can get their help figuring out what's going wrong here.

[2018-10-03 04:57] alexlafroscia commented on #127
I'm going to close this issue for now -- we're using the new interactor in the test suite for this addon without issues right now.

If anyone is having problems with the new test helpers, please make a new issue so we can get that fixed!

[2018-10-03 04:57] #127 closed

[2018-10-03 05:02] alexlafroscia commented on #132
I think that's the right approach for this issue -- `onSelection` is the way to go, and the example that @milestinsley shows above is exactly what people should do.

[2018-10-03 05:02] #132 closed

[2018-10-03 17:39] yagosenhorini commented on #203
Hello Alex, how are you?
I've some problems with the Twiddle since yesterday.
I'm simulating only the calendar component, but the project is on infinity build and doesn't render the elements.
I'm trying to fix this now and I'll send to you after do this.
Sorry about that :(

[2018-10-03 18:12] alexlafroscia commented on #203
I'm great, thanks for asking!

No problem about the Twiddle.

If it would be easier, do you want to send a full Ember application that shows the problem? That's honestly easier for me to debug anyway, and might be easier for you as well.

[2018-10-03 19:15] yagosenhorini commented on #203
Hey Alex, I'm sending to you an URL to a dev Ember App, to test and debug as you wish :)

Link: https://dev-usage-dashboard.firebaseapp.com

There's an authentication at the first route.
The email is: calendartest@test.com and the password is: change1234

If you have any doubt about the template, just ask me.

Thanks for the help!

[2018-10-05 06:03] pepke41 commented on #201
A build was kicked off on my pr #207 so I think you can close the issue.

[2018-10-05 06:04] alexlafroscia commented on #201
Indeed! I worked with a support person from Travis and they were able to walk me through getting the hooks set up again.

[2018-10-05 06:04] #201 closed

[2018-10-05 10:37] afriqs commented on #168
Hi,
Same issue here but we found that `ember-pikaday` works well with `DD-MM-YYYY` and `DD*MM*YYYY` format but not with `DD/MM/YYYY` (it reverses to `MM/DD/YYYY`): perhaps an *interpretation* issue with `/` :thinking:

[2018-10-05 12:17] afriqs commented on #187
Hi @belgoros , I have the same issue. Which initializer did you move to instance initializers ?

Note: noob with emberjs.

[2018-10-05 13:53] belgoros commented on #187
@afriqs I moved `setup-pikaday-i18n.js` defined as follows:
[code]
to `app/instance-initializers/setup-pikaday-i18n.js`. Hope this helps.

[2018-10-05 17:29] alexlafroscia commented on #204
This seems to be addressed by #188 so I’ll hold off making a fix in favor of allowing that PR to handle it.

[2018-10-05 17:30] alexlafroscia commented on #196
Since @mhankus says this is fixed in the latest release, I’m going to close this.

@papakay please let me know if the latest release does not, in fact, fix the issue!

[2018-10-05 17:30] #196 closed

[2018-10-05 17:31] #172 closed

[2018-10-08 12:45] afriqs commented on #187
@belgoros Thanks for your feedback but unfortunately I did not manage to localize the datepicker :disappointed: : will have to dig deeper...

[2018-10-08 18:35] yagosenhorini commented on #203
Hey man,
How are you doing?
Did you debug the project?
Is there anything that I could do to help you?

[2018-10-09 00:44] alexlafroscia commented on #203
Sorry about the delay here! I'll try to check this out over the next day or two. It's still on my radar, don't worry!

[2018-10-09 12:37] yagosenhorini commented on #203
Alright man.
If you need something, just ask me and I'll make the possible to help you!

[2018-10-10 16:16] alexlafroscia commented on #201
They migrated this repo over to travis-ci.com, so we should get the nicer experience around having the "checks" tab populated in each pull-request now 🎉

[2018-10-11 17:46] alexlafroscia commented on #203
Thanks for your patience here @yagosenhorini

I checked out the site you gave me, that was _really_ helpful. I think I misunderstood your initial request request but totally "get it" now.

When you're using the Pikaday component, are you passing in a `value`? If you are, then the date month for that date should be visible right away, rather than showing the current month. Based on looking at the l

[2018-10-15 06:49] abueloshika opened #208 "Past the 15th of the month, component won't display 'value' on page load"
Between 15th and end of the month the date picker will not display the 'value' of the field on page load.

I currently have a top menu that sets todays date:

[code]

This is passed to the route via the link to helper:

`{{#link-to 'nextRoute.results' (query-params fromDate=thisDate toDate=thisDate)}}Next Route{{/link-to}}
`
This appears in the URL string correctly as (on the day of posting) '15-1

[2018-10-16 06:37] abueloshika commented on #208
The behavior described above only appears to be in Chrome. I opened the application in Edge and whilst dates do appear in page load, they are a year ahead!

This leads me to believe that it isn't necessarily a problem with the add on but my implementation of it. Any feedback would be appreciated.

[2018-10-17 04:15] AlmogRnD opened #209 "Error: Could not find module `ember-pikaday/test-support`"
Hi,
I have an integration tests but I'm getting the following error "Error: Could not find module `ember-pikaday/test-support`"

My code:
[code]

Version:
"ember-pikaday": "^2.2.4",
 "ember-cli": "3.1.4",

[2018-10-17 15:06] yagosenhorini commented on #203
Hey Alex, how are you?
Thanks for the answer.
I stopped to fix this, because I'm refactoring another project now, and this page that I've sent you will be included in this refactor.
But, I appreciate your help so much!
If it goes wrong, I'll report to you.

I'm closing this issue :)

[2018-10-17 15:06] #203 closed

[2018-10-17 16:02] alexlafroscia commented on #203
Great! I'm happy to help in the future if there's still problems with the way the date picker works.

[2018-10-29 02:00] JoseWebby opened #210 "Acceptance tests failing"
Hi Team,

Facing below issue in v2.3.0. Things are working fine when using v2.2.6

*Issue:* All the acceptance are failing where test helpers (visit, click etc) are being used.

*Error:* `TypeError: Cannot read property 'lookup' of undefined` - in https://github.com/emberjs/ember.js/blob/master/packages/ember-testing/lib/helpers/visit.js#L22

*Reason:* As far as I have seen, application object cre

[2018-11-06 09:47] yanchogeorgiev commented on #187
@afriqs If you're using inputless component, add this line in the bottom of initialize method:
application.inject('component:pikaday-inputless', 'i18n', 'pikaday-i18n:main');

[2018-12-03 17:52] rrenno commented on #210
Similar issue here, however we were seeing the `TypeError: Cannot read property 'lookup' of undefined` in the app itself while on 2.3.0, tests seemed to work fine.

We're on `ember 2.16.4`.

[2018-12-20 17:33] alexlafroscia commented on #210
Sorry you guys are seeing these issues and that it's taken me a while to respond here. Apparently I wasn't subscribed to notifications for this repo!

I'll look into what's going on here and try to put a fix together.

[2018-12-20 17:35] alexlafroscia opened #212 "Breaking Change: Do not perform two-way data binding by default"
You-way data binding is an anti-pattern in Ember applications these days, and should be avoided where possible.

Currently, `ember-pikaday` performs two-day data binding to the value property by default. This behavior would be removed in favor of one-day data binding and better documentation of how to use the `mut` helper to explicitly bind to changes using `onSelection`

[code]

[2019-01-09 15:11] freyjameetsmel opened #213 "Open calendar on minDate if minDate is in future"
Hey there,

In our project we have the following use case:
We have a form where the user can enter some information that can have a time-limited validity. We accomplish this with a datepicker in each row (of information) that sets the valid from date.
If the user decides to add a new row of information the datepicker in the this row has a minDate set. The minDate depends on the previous selected v

[2019-01-09 22:34] alexlafroscia commented on #213
I see... so what you're saying is, in a case where a selected date is not provided but a minimum date is, that minimum date's month should be the one that's visible when opening the picker?

I'd agree with that assessment, but it sounds to me like Pikaday behavior, not something specific to the wrapper addon.

[2019-01-10 09:57] #168 closed

[2019-01-10 10:40] freyjameetsmel commented on #213
@alexlafroscia exactly, but this should only happen if the minimum date is in the future. :)
Ah, okay, I thought it might be some adjustment in this wrapper addon I didn't think of. But in that case I'll check it on the Pikaday project. ;)

[2019-01-10 15:59] freyjameetsmel commented on #213
I think I found a solution for our usecase. :dancer:

I tested something with the onOpen closure action, but this did not work well. So I ended up with extending the pikaday-input component:

[code]

Maybe we could think about adding this to the project.

[2019-01-18 07:43] Robin481 commented on #210
Having the same issues with ember-cli v3.0.4, downgrading to pikaday-v2.2.6 is the solution for now. Any Updates?

[2019-01-28 04:41] Yangxiucheng1002 commented on #156
But after I set it up, I still report an error.
![image](https://user-images.githubusercontent.com/29248652/51815143-073b3580-22fa-11e9-8827-3af0e3932f0e.png)

[2019-01-28 13:21] cah-danmonroe commented on #156
you need to put the format in the moment constructor...  `moment(new Date, "YYYY-MM-DD")`

see [https://momentjs.com/docs/#/parsing/string-format/](https://momentjs.com/docs/#/parsing/string-format/)

[2019-02-01 16:59] tpetrone opened #214 "Format "DD/MM/YYYY" issue on reopen"
Behaviour:
- Use "DD/MM/YYYY" as format
- Select February, 6
- Click to open date picker again
- The pre-selected month is **June** (6)

Expected:
- Use "DD/MM/YYYY" as format
- Select February, 6
- Click to open date picker again
- The pre-selected month is **February** (2)

[2019-02-04 13:22] belgoros opened #215 "Initializer fails to load a locale when using with ember-intl"
When migrating from [ember-i18n](https://github.com/jamesarosen/ember-i18n) to [ember-intl](https://github.com/ember-intl/ember-intl), the previous `setup-pikaday-i18n.js` initializer defined as suggested in [Localization](https://github.com/adopted-ember-addons/ember-pikaday#localization) section of README does not the locale set in `beforeModel` hook of `application.js` route:
[code]
Here is how

[2019-02-09 19:54] alexlafroscia commented on #215
Hey @belgoros. Let me to try to explain back to you the situation, so I can make sure I understand it. What I'm getting from the code examples and explanation is that

- Pikaday gets the localization data from an initializer. This locale is `en`
- Some application logic uses the `beforeModel` hook of your Application route to look up the correct locale based on some logic and set it on the `intl`

[2019-02-09 19:54] #215 closed

[2019-02-09 20:00] alexlafroscia commented on #187
I think the issue here could be the timing between your initializers.

1. One initializer determines what the current locale should be based on some logic and sets that on the `i18n` and `moment` services
2. Another initializer reads from the global `moment` object and uses that information to configure Pikaday

Are you sure that `1` happens before `2`?

I would suggest [specifying the order of th

[2019-02-09 20:00] #187 closed

[2019-02-09 20:20] belgoros commented on #215
Alex, thank you for the feedback. Another solution that worked for me would be to create a component as follows:
[code]
to fix that. Hope this helps.

[2019-02-11 04:10] alexlafroscia commented on #215
That's a nice approach, too!

I think I even like that better, @belgoros, since it avoids having an initializer that modifies the global helper's behavior. IMO it's much easier to hunt down the source of behavior when you keep it all in a component like this.

[2019-02-11 08:05] belgoros commented on #215
@alexlafroscia Thanks to [Robert Jackson](https://discuss.emberjs.com/t/how-to-start-with-testing/16140/9)who proposed this great idea and helped me to fix that 👍

[2019-03-12 07:37] Yelinz opened #217 "Localization example missing"
After the first part of the Localization, there should be an example but it is missing. It says _include the following_ but there isn't an following part.

In an older version was an example included, but it got lost with #87.

app.import('bower_components/moment/moment.js');
app.import('bower_components/moment/locale/de-at.js');
app.import('bower_components/pikaday/pikaday.js');
app.import('bower

[2019-03-26 18:20] bmfay commented on #210
Seeing the same issue upon upgrading from v2.2.3 to v2.3.1.  Any updates?

[2019-04-26 14:08] FabHof opened #219 "Error when jQuery is disabled."
JQuery is not a dependency of ember anymore. This addon should also be able to be used without jQuery.

This is the error I get, when running without jQuery:

[2019-05-02 16:02] repl-angrez-singh opened #221 "Firefox: Selected date value not displayed when navigating back and forward using browser"
Selected date value is not displayed when you navigate back and forward using browser buttons in Firefox.

Assuming you have two pages page 1 and page 2 (with pikaday control)
Steps to reproduce ():
1. Navigate to page 1.
2. Navigate to page 2. Select date value.
3. Navigate back to page 1 (using browser back button)
4. Navigate to page 2 (using browser forward button)
5. Value selected in step 2

[2019-05-08 17:46] ggalli commented on #215
The component solution worked well, but how can I do the same with a pikaday-inputless? can someone help me with an example?

[2019-05-09 21:33] AleksandrBorovkov opened #222 "Month is undefined when using i18n"
I see months in initializer but in component it undefined.

![image](https://user-images.githubusercontent.com/22237897/57487995-8b6a6500-72ba-11e9-9e2a-918e0df8e5be.png)

![image](https://user-images.githubusercontent.com/22237897/57488167-fa47be00-72ba-11e9-8b3f-f15b13764736.png)

[2019-05-09 22:24] AleksandrBorovkov commented on #222
I've fixed it with this
`months: moment.localeData()._months.standalone`

[2019-05-09 22:24] #222 closed

[2019-05-22 12:42] fkm commented on #133
Is that design choice documented somewhere? I couldn't find it in the Pikaday readme.

Having a datepicker on a read-only field (especially as it can still change the displayed input value) doesn't make any sense to me. Please enlighten me.

[2019-06-17 15:58] #217 closed

[2019-06-28 13:11] #219 closed

[2019-07-08 20:46] #156 closed

[2019-07-26 19:44] AleksandrBorovkov commented on #130
@alexlafroscia
Here is clean branch with reproduction.
https://github.com/AleksandrBorovkov/ember-test2

[2019-07-29 19:54] AleksandrBorovkov opened #229 "Close inputless by clicking anywhere on page"
Same as https://github.com/adopted-ember-addons/ember-pikaday/issues/130

Here is clean branch with reproduction.
https://github.com/AleksandrBorovkov/ember-test2

[2019-08-01 01:21] alexlafroscia commented on #229
Just to makes sure that everyone on the original issue is kept up-to-date, I'm going to close this issue and re-open the original one!

[2019-08-01 01:21] #229 closed

[2019-08-01 01:30] alexlafroscia commented on #130
So to clarify: you want to close the picker when clicking outside of it? Something would need to set `showPika` back to `false` -- this wouldn't happen implicitly.

If I'm reading the source of `pikaday` correctly, the dismiss-on-click-outside is actually listening for a `blur` event on the form field

https://github.com/Pikaday/Pikaday/blob/5c1a7559be0373c93f971366abd6ddff82b18ed0/pikaday.js#L613

[2019-08-01 01:30] #130 closed

[2019-08-12 14:43] tpetrone commented on #214
I would like to share the workaround we are using. Please share your thoughts.

`custom-paper-pikaday.js`
[code]

[2019-08-29 05:00] stravid commented on #97
@andycochran no, I can't recommend one.

[2019-08-29 15:55] utilityboy commented on #97
@andycochran no, sadly.  We decided to use the power-select calendar and time pickers in the end.  Even though this is no longer maintained, it does work well for us: https://github.com/RyanNerd/ember-power-timepicker

[2019-09-11 11:02] lindyhopchris opened #231 "Testing multiple date pickers"
So I ran into a bit of a gotcha today with testing multiple date-pickers. This is probably because I've been doing something wrong!

Basically my tests for a component with multiple date pickers didn't close the date picker between selecting dates on two different inputs. This worked fine in Ember 3.8, but when upgrading to Ember 3.12 it doesn't. The solution was to close the date picker after cho

[2019-10-18 09:39] PritamBhanji08 opened #232 "It keeps on changing position on selection of date"
Hi

The calendar keeps moving to the right until end of the screen when i am changing dates.

Could you please help me out on this ? Is this related to some package problem?

[2019-11-16 13:03] #122 closed

[2020-02-07 16:50] drouhard commented on #222
For anyone finding this thread later, I found that the [above answer](https://github.com/adopted-ember-addons/ember-pikaday/issues/222#issuecomment-491089555) didn't work for all locales. I was able to solve the issue by using moment's standard `months()` function in the to get the appropriate values for each locale:
`months: moment.localeData().months()`

[2020-02-25 21:03] steveszc commented on #122
Would it be possible to cut a release that includes #234 and fixes this bug?

[2020-03-05 21:47] cristi opened #305 "New Version"
Any idea when there will be a new version released?
Would love to have the jQuery deprecations removed.
Thanks

[2020-03-14 18:18] jrjohnson opened #308 "Unreleased version working as nested addon"
The current `#master` branch throws a build error when it is included in another addon.

`Cannot read property 'options' of undefined`

Trace:
[code]

[2020-03-30 13:11] #308 closed

[2020-04-15 06:41] Turbo87 commented on #210
I'm having a hard time reproducing the issue from the information above. If this issue is still relevant, could someone create a reproduction repository on GitHub? otherwise this seems hard to fix 😞

[2020-04-16 08:15] jaydgruber commented on #305
Seems like #296 resolves this

[2020-04-16 15:18] cristi commented on #305
sweet, thanks

[2020-04-16 15:18] #305 closed

[2020-04-17 05:39] jrjohnson commented on #231
@lindyhopchris I ran into this today when migrating from the old test helpers. Thanks for pointing me to a solution!

I think adding the `fillInDate` helper would be a great addition here. Since my tests are now full of the same repetitive three step process.

I know it's been a while so if you're not interested in doing that work anymore let me know and I'll give it a shot.

[2020-05-04 03:42] aman-adriano opened #343 "Causing in Unexpected Token: eof (undefined) when building for production"
I got this error when building for productiong (ember b --prod):

Build Error (UglifyWriter)

Unexpected token: eof (undefined)

Here's the full error log :+1:
=================================================================================

ENV Summary:

  TIME: Mon May 04 2020 11:38:57 GMT+0800 (Philippine Standard Time)
  TITLE: ember
  ARGV:
  - /usr/local/bin/node
  - /home/aman/.npm-global/

[2020-05-04 03:47] sbflynn commented on #343
I had the same issue. The root cause of it was the recently released moment v2.25.1 package. Workaround was to pin moment to v2.24.0 (yarn resolution worked for me).

[2020-05-04 03:54] aman-adriano commented on #343
thanks @sbflynn

Is momentjs is a dependency of ember-pikaday through ember-cli-moment-shim?
I don't see it in pikaday's depencies.
Glad to know I'm not the only one having this issue.

[2020-05-11 04:36] jrjohnson commented on #343
This should be fixed for ember apps with the release of `ember-moment-shim` `v3.8.0` which no longer double minifies code from moment.

[2020-05-19 12:18] budostylz commented on #156
You going to have to instantiate a date and pass it to the moment constructor to prevent the warning.
moment( new Date ).format('MM/DD/YYYY')  --> 5/19/2020. If you need a custom date, you will have to create a date object from that and pass to moment constructor.

[2020-07-23 13:15] lindyhopchris commented on #231
@jrjohnson glad me creating this issue helped you!

I'm just catching up with open source tasks this week, so have submitted a PR for the new test helper.

[2020-10-22 12:43] ikirkpat opened #422 "minDate changes value when "invalid" date entered programmatically"
# Context
We have a PickadayInput that shows a start date for a goal in our application. The start date is not allowed to be modified to be in the past in relationship to when they change it. For example, if today is 10/22/2020, then the user cannot enter 10/21/2020. So we use the `@minDate` argument to restrict that.

So suppose the user enters 10/23/2020 as the date. All good and dandy because i

[2020-10-23 10:46] YogeshSonar commented on #156
Hi,

_If you want to remove the below warning:
Deprecation warning: value provided is not in a recognized RFC2822 or ISO format. moment construction falls back to js Date(), which is not reliable across all browsers and versions. Non RFC2822/ISO date formats are discouraged and will be removed in an upcoming major release. Please refer to http://momentjs.com/guides/#/warnings/js-date/ for more inf

[2021-01-03 06:18] lynnfaraday opened #446 "Date Set To Previous Day with YYYY-MM-DD Format"
When I use the format "YYYY-MM-DD", the calendar picker will actually set the calendar to the previous day.  This doesn't seem to happen with other formats.  For example:

[code]

Gives me this:

![image](https://user-images.githubusercontent.com/366524/103472955-6533eb80-4d61-11eb-8574-2d958989c4ba.png)

I'm using version 3.0.0

[2021-01-03 14:28] lynnfaraday commented on #446
Follow up: My friend in the UK tested this same code and saw the correct date, even for the YYYY-MM-DD format.  So maybe it's somehow related to the user's timezone or something?

[2021-03-11 13:56] ikirkpat commented on #422
Just wondering if anyone has looked at this yet? We have to use another date picker until this is fixed.

[2021-05-10 20:41] bekah-cheek-ao commented on #446
Thank you for reporting this! I thought I was totally losing it when I found this behavior in my app.

Here's a +1 on seeing this behavior. I'm in Mountain Daylight Time (GMT-6). For the time being, I'm working around this by formatting my dates using YYYY/MM/DD instead of YYYY-MM-DD.

[2021-05-26 19:44] cincodenada commented on #133
`ember-pikaday` could work around this, but this is really an upstream issue, and there's an issue open that could always use some more thumbs-up (or PRs!): https://github.com/Pikaday/Pikaday/issues/662

There's also a workaround in that thread, which I've adapted to ember-pikaday for my needs. I'm already extending the component, I'm not sure if you can get the needed context otherwise:
[code]

[2021-05-26 20:00] fkm commented on #133
Thank you for your response!

I've stopped working with Ember but I'm sure this will help someone.

[2021-06-29 20:47] BonBonSlick commented on #156
[code]
something wrong here, formatting breaks isSameOrBefore / isSameOrAfter features
[code]

[2021-06-29 20:50] BonBonSlick commented on #446
It also has odd behaviour when formatting, some feature stop working
https://github.com/adopted-ember-addons/ember-pikaday/issues/156#issuecomment-870906128

[2021-07-30 11:45] pradeeprelwani21 commented on #156
thank you, it works.

[2021-08-29 13:53] lynnfaraday opened #527 "Ember Global Deprecation Warning"
There's a deprecation warning when I do ember build suggesting that ember-pikaday is dependent (indirectly at least) on an outdated version of ember-cli-babel. Seems like this will cause problems starting in Ember 4.0.

[code]

[2021-11-01 13:39] cuibap1907 commented on #156
I have the same problem, I tried to convert the date to UTC string by using toUTCString().
date.toUTCString()
Then you can get date with your custom format.
Here is an example:
getFormatDate(date.toUTCString(), "DD/MM/YYYY")
Hope it help.

[2021-11-23 14:41] ChristianGreinke opened #529 "This querySelector is wrong formated and raises a DOMException"
This code line creates a wrongly formated selector for document.querySelector and results into a DOMException

https://github.com/adopted-ember-addons/ember-pikaday/blob/19366ea66e9037fe9410c65369e9bb796a4b5ed6/addon/helpers/pikaday.js#L40

for example day=5 gives
[code]
which is wrong in two places the last } is too much and encasing the day placeholder with ' also brakes the selector. The right

[2022-01-07 13:34] yandiro opened #530 "Setting minDate and maxDate after date is selected clears selection"
I have two date pickers that work together, the end date and the start date.

I want to set the minDate of the end date to the selection of the start date (because it cannot end before it starts) and vice versa.

This is how I am doing it:

[code]

Notice how I use setHours to change to the end of the day to allow the selection of the same day.

No matter which day is selected, setting the `maxDat

[2022-03-07 16:54] cah-briangantzler opened #536 "deprecated-run-loop-and-computed-dot-access"
Seems that run.bind is being used in several places https://github.com/adopted-ember-addons/ember-pikaday/blob/19366ea66e9037fe9410c65369e9bb796a4b5ed6/addon/mixins/pikaday.js#L62.

There are also places for run.later https://github.com/adopted-ember-addons/ember-pikaday/blob/19366ea66e9037fe9410c65369e9bb796a4b5ed6/addon/mixins/pikaday.js#L86

Maybe others

See https://deprecations.emberjs.com/v3

[2022-03-07 17:05] cah-briangantzler commented on #536
When I searched I thought I was searching on the main branch, seems it found this code in old commits.

Please ignore

[2022-03-07 17:05] #536 closed

[2022-06-08 13:23] frykten opened #537 "[Bug] Data-down triggers native Change Event"
Hi :wave:

We were trying to use the Change Event on the PikadayInput Component et we were surprised to see the event triggered on data-down.

When debugging the issue, we can follow easily the stack trace down to these codes blocks:
https://github.com/adopted-ember-addons/ember-pikaday/blob/9a3fae61ed33151b9c377a324fd711c19d61732a/src/modifiers/pikaday.js#L59
https://github.com/adopted-ember-addo

[2022-07-25 10:06] acorncom commented on #527
@lynnfaraday is this still an issue after the latest release?

[2022-07-30 14:18] lynnfaraday commented on #527
Seems to be resolved with the latest version.

[2022-07-30 14:18] #527 closed